<!--
Logistics and Marine Operations (LMO) tool.
LMO is DTOceanPlus tool to assess marine operations withing wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="inputssite">
    <div>
      <h1>Site inputs</h1>
      <el-tabs v-model="activeName">
        <el-tab-pane
          label="Import"
          name="import"
        >
          <el-button
            v-if="!standalone_site && !incomplete_site"
            size="small"
            type="primary"
            @click="fetchDataSite()"
            :loading="loadingSC"
            :disabled="siteForm.hasOwnProperty('module_sc')"
          >
            Fetch data from SC
          </el-button>
          <div v-else>
            <span>Introduce input file (.json) as produced by Site Characterization module.</span>
            <br>
            <br>
            <UploadJSONFile
              @file-updated="AddModule($event)"
              @file-deleted="ClearModule"
            />
          </div>
        </el-tab-pane>
        <el-tab-pane
          label="User inputs"
          name="user"
          v-if="false"
        >
          <el-form
            ref="site-user"
            label-width="300px"
          >
            <el-form-item label="Map region">
              <el-col :span="11">
                <el-input
                  v-model="siteForm.map_name"
                  placeholder="Ex. Europe, France west"
                ></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="Map resolution">
              <el-col :span="4">
                <el-input
                  v-model="siteForm.map_res_lon"
                  placeholder="longitude"
                ></el-input>
              </el-col>
              <el-col
                class="line"
                align="center"
                :span="1"
              >x</el-col>
              <el-col :span="4">
                <el-input
                  v-model="siteForm.map_res_lat"
                  placeholder="latitude"
                ></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="Map boundaries">
              <el-col>
                <el-checkbox
                  v-model="siteForm.consider_boudaries"
                >Consider map boudaries
                </el-checkbox>
              </el-col>
              <el-col>Latitude</el-col>
              <el-col>
                <el-input-number
                  v-model="siteForm.map_lat_min"
                  controls-position="right"
                  :min="-180"
                  :max="180"
                  :step="0.1"
                  :disabled="siteForm.consider_boudaries === false"
                ></el-input-number>
                <el-input-number
                  v-model="siteForm.map_lat_max"
                  controls-position="right"
                  :min="-180"
                  :max="180"
                  :step="0.1"
                  :disabled="siteForm.consider_boudaries === false"
                ></el-input-number>
              </el-col>
              <el-col>Longitude</el-col>
              <el-col>
                <el-input-number
                  v-model="siteForm.map_lon_min"
                  controls-position="right"
                  :min="-90"
                  :max="90"
                  :step="0.1"
                  :disabled="siteForm.consider_boudaries === false"
                ></el-input-number>
                <el-input-number
                  v-model="siteForm.map_lon_max"
                  controls-position="right"
                  :min="-90"
                  :max="90"
                  :step="0.1"
                  :disabled="siteForm.consider_boudaries === false"
                ></el-input-number>
              </el-col>
            </el-form-item>
          </el-form>
        </el-tab-pane>
      </el-tabs>
    </div>
    <br>
    <div>
      <el-button
        v-if="isNew==true"
        type="primary"
        :loading="loading === true"
        :disabled="loadingSC"
        @click="createSite"
      >
        Create
      </el-button>
      <el-button
        v-if="isNew!==true"
        type="primary"
        @click="updateSite"
      >
        Update
      </el-button>
      <el-button
        v-if="isNew!==true"
        type="danger"
        @click="deleteSite"
      >
        Delete
      </el-button>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import UploadJSONFile from './UploadJSONFile'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from '@/dtop/dtopConsts'

export default {
  name: 'InputsSite',
  components: { UploadJSONFile },
  props: {
    study: {
      type: Object,
      default() {
        return {
        }
      }
    },
    isNew: {
      type: Boolean,
      default() {
        return true
      }
    },
    loading: {
      type: Boolean,
      default() {
        return false
      }
    }
  },
  data() {
    return {
      activeName: 'import',
      siteForm: {},
      standalone_site: true,
      incomplete_site: false,
      loadingSC: false
    }
  },
  created() {
    console.log(this.study.id)
    this.get_integration_data(this.study.id)
  },
  mounted() {
    if (!this.isNew) {
      const path = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/site`
      axios.get(path)
        .then((response) => {
          this.siteForm = response.data
        })
    } else {
      this.siteForm = {
        map_name: '',
        map_res_lon: '',
        map_res_lat: '',
        consider_boudaries: false,
        map_lat_min: 0,
        map_lat_max: 0,
        map_lon_min: 0,
        map_lon_max: 0
      }
    }
  },
  methods: {
    AddModule(sc_object) {
      this.siteForm['module_sc'] = sc_object
    },
    ClearModule() {
      delete this.siteForm['module_sc']
    },
    createSite() {
      // Delete empty keys
      for (var key in this.siteForm) {
        if (this.siteForm[key] === '') {
          delete this.siteForm[key]
        }
      }
      this.$emit('site_create', this.siteForm)
    },
    updateSite() {
      this.$emit('site_update', this.siteForm)
    },
    deleteSite() {
      this.$emit('site_delete')
    },
    get_integration_data(lmoId) {
      // "http://0.0.0.0/mm.dtop/api/integration/modules/lmo/entities/1"
      const path = `${DTOP_PROTOCOL}//mm.${DTOP_DOMAIN}/api/integration/modules/lmo/entities/${lmoId}`
      console.log(path)
      axios.get(path)
        .then((res) => {
          this.project = res.data
          console.log(this.project)
          if (this.project.length === 0) {
            this.$notify.error({
              title: 'Info',
              message: 'Connection established with the Main Module, but this LMO entity is not registered.'
            })
          } else {
            console.log('project data : ', this.project)
            this.$notify.info({
              title: 'Info',
              message: 'Connection established with the Main Module.'
            })
            this.get_siteEntity()
          }
        })
        .catch((error) => {
          console.log(error)
          this.project = []
          this.$notify.error({
            showClose: true,
            duration: 3000,
            title: 'Connection Error',
            message: 'Cannot establish a connection with the Main Module. LMO can be used only as a standalone.'
          })
        })
    },
    get_siteEntity() {
      try {
        const prj_str = this.project
        const study = prj_str.filter((s) => { return s.moduleId == 7 })
        const site_entity = prj_str.filter((e) => { return e.studyId == study[0].studyId && e.moduleId === 1 })
        this.scId = site_entity[0].entityId
        this.get_siteStatus(this.scId)
      } catch (error) {
        this.$message.error(error)
        this.standalone_site = true
        this.$notify.warning({
          title: 'SC warning',
          message: 'No SC entity has been registered, so please insert data manually.',
          duration: 3000
        })
      }
      return this.project
    },
    get_siteStatus(siteId) {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/${siteId}/status`
      axios.get(path)
        .then((res) => {
          const entity_data = res.data
          const url_entity = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/#/sc-entity?entityID=${siteId}`
          const text_entity = 'here'
          this.site_url = text_entity.link(url_entity)
          if (entity_data === 100) {
            this.standalone_site = false
            this.incomplete_site = false
          } else {
            this.standalone_site = false
            this.incomplete_site = true
            this.$notify.warning({
              title: 'SC warning',
              message: 'A SC entity has been registered but not finalised.',
              duration: 3000
            })
          }
        })
        .catch((error) => {
          console.log(error)
          this.standalone_site = false
          this.incomplete_site = true
          this.$notify.error({
            title: 'Error',
            message: 'Error retrieving the status of the SC entity.',
            duration: 3000
          })
        })
    },
    fetchDataSite() {
      this.loadingSC = true
      const path = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/integration/site`
      const payload = {
        // 'sc_all': `/sc/${this.scId}`,
        'sc_id': `${this.scId}`,
        'sc_info': `/sc/${this.scId}/farm/info`,
        'sc_bathymetry': `/sc/${this.scId}/farm/direct_values/bathymetry`,
        'sc_seabedtype': `/sc/${this.scId}/farm/direct_values/seabed_type`,
        'sc_timeseries': `/sc/${this.scId}/point/time_series`
      }
      console.log(path)
      console.log(payload)
      axios
        .post(path, payload)
        .then((res) => {
          if (res.status === 201) {
            this.siteForm['module_sc'] = res.data
          }
          this.loadingSC = false
        })
        .catch((error) => {
          console.log(error)
          this.$message.error('Error when fetching data from Site Characterization module')
          this.loadingSC = false
        })
    }
  }
}
</script>
