<!--
Logistics and Marine Operations (LMO) tool.
LMO is DTOceanPlus tool to assess marine operations withing wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="inputsphasesrequirementscreate">
    <br>
    <lmo-study-header :study="study" />
    <br>
    <div>
      <h1>Phases Requirements</h1>
      <div>
        <el-tabs v-model="activeName">
          <el-tab-pane
            label="Installation"
            name="installation"
            :disabled="logisticPhases.installation.considered === false"
          >
            <InputsPhasesRequirements
              :study="study"
              :requirements="requirements.installation"
            />
          </el-tab-pane>
          <el-tab-pane
            label="Maintenance"
            name="maintenance"
            :disabled="logisticPhases.maintenance.considered === false"
          >
            <InputsPhasesRequirements
              :study="study"
              :requirements="requirements.maintenance"
            />
          </el-tab-pane>
          <el-tab-pane
            label="Decommissioning"
            name="decommissioning"
            :disabled="logisticPhases.decommissioning.considered === false"
          >
            <InputsPhasesRequirements
              :study="study"
              :requirements="requirements.decommissioning"
            />
          </el-tab-pane>
        </el-tabs>
      </div>
      <div>
        <el-button
          type="primary"
          @click="requirementsSubmitAll"
        >Submit all
        </el-button>
        <el-button
          type="danger"
          @click="requirementsDeleteAll"
        >Delete all
        </el-button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import LmoStudyHeader from '../LmoStudyHeader.vue'
import InputsPhasesRequirements from './InputsPhasesRequirements'

export default {
  name: 'InputsPhasesRequirementsCreate',
  components: { LmoStudyHeader, InputsPhasesRequirements },
  props: {
    study: {
      type: Object,
      default() {
        return {
        }
      }
    },
    logisticPhases: {
      type: Object,
      default() {
        return {
        }
      }
    }
  },
  data() {
    return {
      requirements: {
        installation: null,
        maintenance: null,
        decommissioning: null
      },
      activeName: 'installation'
    }
  },
  mounted() {
    if (this.logisticPhases.installation.considered === true) {
      const path_inst = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/phases/installation/requirements`
      axios
        .get(path_inst)
        .then(res => {
          if (res.status === 200) {
            delete res.data['id']
            delete res.data['phase']
            delete res.data['phase_id']
            this.requirements.installation = res.data
            this.logisticPhases.installation.requirements = true
          }
        })
        .catch(erro => {
          this.requirements.installation = {
            rov: null,
            divers: null,
            previous_projects: null,
            terminal_area: null,
            terminal_load: null,
            terminal_crane: null,
            port_maximum_distance: undefined
          }
          this.logisticPhases.installation.requirements = false
        })
    }
    if (this.logisticPhases.maintenance.considered === true) {
      const path_inst = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/phases/maintenance/requirements`
      axios
        .get(path_inst)
        .then(res => {
          if (res.status === 200) {
            delete res.data['id']
            delete res.data['phase']
            delete res.data['phase_id']
            this.requirements.maintenance = res.data
            this.logisticPhases.maintenance.requirements = true
          }
        })
        .catch(erro => {
          this.requirements.maintenance = {
            rov: null,
            divers: null,
            previous_projects: null,
            terminal_area: null,
            terminal_load: null,
            terminal_crane: null,
            port_maximum_distance: undefined
          }
          this.logisticPhases.maintenance.requirements = false
        })
    }
    if (this.logisticPhases.decommissioning.considered === true) {
      const path_inst = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/phases/decommissioning/requirements`
      axios
        .get(path_inst)
        .then(res => {
          if (res.status === 200) {
            delete res.data['id']
            delete res.data['phase']
            delete res.data['phase_id']
            this.requirements.decommissioning = res.data
            this.logisticPhases.decommissioning.requirements = true
          }
        })
        .catch(erro => {
          this.requirements.decommissioning = {
            rov: null,
            divers: null,
            previous_projects: null,
            terminal_area: null,
            terminal_load: null,
            terminal_crane: null,
            port_maximum_distance: undefined
          }
          this.logisticPhases.decommissioning.requirements = false
        })
    }
  },
  methods: {
    requirementsSubmitAll() {
      for (var phase in this.requirements) {
        if (this.requirements[phase] !== null) {
          const path = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/phases/${phase}/requirements`
          this.clearNulls(phase)
          const requestBody = this.requirements[phase]
          if (this.logisticPhases[phase].requirements === true) {
            if (requestBody['port_maximum_distance'] === '' || requestBody['port_maximum_distance'] === undefined) {
              requestBody['port_maximum_distance'] = 1000
            }
            axios
              .put(path, requestBody)
              .then(res => {
                if (res.status === 200) {
                  this.$router.push({
                    name: 'lmostudy-open',
                    params: { id: this.study.id, loadedActiveStep: 1 }
                  })
                }
              })
              .catch(error => {
                this.$message.error({
                  message: error.response.data.message,
                  duration: 10000,
                  showClose: true
                })
              })
          } else {
            axios
              .post(path, requestBody)
              .then(res => {
                if (res.status === 201) {
                  this.$router.push({
                    name: 'lmostudy-open',
                    params: { id: this.study.id, loadedActiveStep: 1 }
                  })
                }
              })
              .catch(error => {
                this.$message.error({
                  message: error.response.data.message,
                  duration: 10000,
                  showClose: true
                })
              })
          }
        }
      }
    },
    requirementsDeleteAll() {
      for (var phase in this.requirements) {
        if (this.logisticPhases[phase].requirements === true) {
          const path = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/phases/${phase}/requirements`
          axios
            .delete(path)
            .then(res => {
              if (res.status === 200) {
                this.$router.push({
                  name: 'lmostudy-open',
                  params: { id: this.study.id }
                })
              }
            })
            .catch(error => {
              this.$message.error({
                message: error.response.data.message,
                duration: 10000,
                showClose: true
              })
            })
        }
      }
    },
    clearNulls: function(phase) {
      // Delete null keys
      for (var key in this.requirements[phase]) {
        if (this.requirements[phase][key] === null) {
          delete this.requirements[phase][key]
        }
        if (this.requirements[phase][key] === undefined) {
          delete this.requirements[phase][key]
        }
      }
    }
  }
}
</script>
