<!--
Logistics and Marine Operations (LMO) tool.
LMO is DTOceanPlus tool to assess marine operations withing wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="inputsoperationsmethods">
    <div>
      <h1>Operation methods</h1>
      <div>
        <el-tabs v-model="activeName">
          <el-tab-pane
            label="Devices"
            name="devices"
          >
            <el-form
              ref="operations-methods-devices"
              label-width="200px"
            >
              <el-form-item label="Load-out method">
                <el-col :span="1">
                  <el-tooltip
                    class="item"
                    effect="dark"
                    placement="top"
                  >
                    <div slot="content">
                      Specify how devices are to be loaded onto the vessel deck / barge deck / water surface.<br/>
                      Default: Lift-away.
                    </div>
                    <i class="el-icon-info"></i>
                  </el-tooltip>
                </el-col>
                <el-col :span="11">
                  <el-select
                    v-model="methods.device.load_out"
                    placeholder="Select load-out method"
                    clearable
                  >
                    <el-option
                      v-for="item in methodLoadOut"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    />
                  </el-select>
                </el-col>
              </el-form-item>
              <el-form-item label="Transportation method">
                <el-col :span="1">
                  <el-tooltip
                    class="item"
                    effect="dark"
                    placement="top"
                  >
                    <div slot="content">
                      Specify device transportation method.<br/>
                      Warning: The option to wet-tow devices requires detailed load analysis which must be integrated in the device design process.<br/>
                      Default: Dry.
                    </div>
                    <i class="el-icon-info"></i>
                  </el-tooltip>
                </el-col>
                <el-col :span="11">
                  <el-select
                    v-model="methods.device.transportation"
                    placeholder="Select transportation method"
                    clearable
                  >
                    <el-option
                      v-for="item in methodTransport"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    />
                  </el-select>
                </el-col>
              </el-form-item>
            </el-form>
          </el-tab-pane>
          <el-tab-pane
            label="Foundations"
            name="foundations"
          >
            <el-form
              ref="operations-methods-foundations"
              label-width="200px"
            >
              <el-form-item label="Load-out method">
                <el-col :span="1">
                  <el-tooltip
                    class="item"
                    effect="dark"
                    placement="top"
                  >
                    <div slot="content">
                      Specify how foundations are to be loaded onto the vessel deck / barge deck / water surface.<br/>
                      Default: Lift-away.
                    </div>
                    <i class="el-icon-info"></i>
                  </el-tooltip>
                </el-col>
                <el-col :span="11">
                  <el-select
                    v-model="methods.foundation.load_out"
                    placeholder="Select load-out method"
                    clearable
                  >
                    <el-option
                      v-for="item in methodLoadOut"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    />
                  </el-select>
                </el-col>
              </el-form-item>
              <el-form-item label="Transportation method">
                <el-col :span="1">
                  <el-tooltip
                    class="item"
                    effect="dark"
                    placement="top"
                  >
                    <div slot="content">
                      Specify transportation method for foundations.<br/>
                      Warning: The option to wet-tow foundations/piles requires detailed load analysis which must be integrated in the foundation/pile design process.<br/>
                      Default: Dry.
                    </div>
                    <i class="el-icon-info"></i>
                  </el-tooltip>
                </el-col>
                <el-col :span="11">
                  <el-select
                    v-model="methods.foundation.transportation"
                    placeholder="Select transportation method"
                    clearable
                  >
                    <el-option
                      v-for="item in methodTransport"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    />
                  </el-select>
                </el-col>
              </el-form-item>
              <el-form-item label="Piling method">
                <el-col :span="1">
                  <el-tooltip
                    class="item"
                    effect="dark"
                    placement="top"
                  >
                    <div slot="content">
                      Specify piling method. This will have an impact on piling speed and soil capability.<br/>
                      Default: IMPLEMENT.
                    </div>
                    <i class="el-icon-info"></i>
                  </el-tooltip>
                </el-col>
                <el-col :span="11">
                  <el-select
                    v-model="methods.foundation.piling"
                    placeholder="Select piling method"
                    clearable
                  >
                    <el-option
                      v-for="item in methodPiling"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    />
                  </el-select>
                </el-col>
              </el-form-item>
            </el-form>
          </el-tab-pane>
          <el-tab-pane
            label="Anchors"
            name="anchors"
          >
            <el-form
              ref="operations-methods-anchors"
              label-width="200px"
            >
              <el-form-item label="Load-out method">
                <el-col :span="1">
                  <el-tooltip
                    class="item"
                    effect="dark"
                    placement="top"
                  >
                    <div slot="content">
                      Specify how anchors are to be loaded onto the vessel deck / barge deck.<br/>
                      Default: Lift-away.
                    </div>
                    <i class="el-icon-info"></i>
                  </el-tooltip>
                </el-col>
                <el-col :span="11">
                  <el-select
                    v-model="methods.anchor.load_out"
                    placeholder="Select load-out method"
                    clearable
                  >
                    <el-option
                      v-for="item in methodLoadOut"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    />
                  </el-select>
                </el-col>
              </el-form-item>
            </el-form>
          </el-tab-pane>
          <el-tab-pane
            label="Collection points"
            name="collectionpoint"
          >
            <el-form
              ref="operations-methods-collectionpoint"
              label-width="200px"
            >
              <el-form-item label="Load-out method">
                <el-col :span="1">
                  <el-tooltip
                    class="item"
                    effect="dark"
                    placement="top"
                  >
                    <div slot="content">
                      Specify how collection points are to be loaded onto the vessel deck / barge deck / water surface.<br/>
                      Default: Lift-away.
                    </div>
                    <i class="el-icon-info"></i>
                  </el-tooltip>
                </el-col>
                <el-col :span="11">
                  <el-select
                    v-model="methods.collectionpoint.load_out"
                    placeholder="Select load-out method"
                    clearable
                  >
                    <el-option
                      v-for="item in methodLoadOut"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    />
                  </el-select>
                </el-col>
              </el-form-item>
              <el-form-item label="Transportation method">
                <el-col :span="1">
                  <el-tooltip
                    class="item"
                    effect="dark"
                    placement="top"
                  >
                    <div slot="content">
                      Specify transportation method for the collection points.<br/>
                      Warning: The option to wet-tow collection points requires detailed load analysis which must be integrated in the design process.<br/>
                      Default: Dry.
                    </div>
                    <i class="el-icon-info"></i>
                  </el-tooltip>
                </el-col>
                <el-col :span="11">
                  <el-select
                    v-model="methods.collectionpoint.transportation"
                    placeholder="Select transportation method"
                    clearable
                  >
                    <el-option
                      v-for="item in methodTransport"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    />
                  </el-select>
                </el-col>
              </el-form-item>
            </el-form>
          </el-tab-pane>
          <el-tab-pane
            label="Cables"
            name="cables"
          >
            <el-form
              ref="operations-methods-cables"
              label-width="200px"
            >
              <el-form-item label="Landfall method">
                <el-col :span="1">
                  <el-tooltip
                    class="item"
                    effect="dark"
                    placement="top"
                  >
                    <div slot="content">
                      Specify export cable landfall method.<br/>
                      Default: Open Cut Trench (OCT).
                    </div>
                    <i class="el-icon-info"></i>
                  </el-tooltip>
                </el-col>
                <el-col :span="11">
                  <el-select
                    v-model="methods.cable.landfall"
                    placeholder="Select landfall method"
                    clearable
                  >
                    <el-option
                      v-for="item in methodLandfall"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    />
                  </el-select>
                </el-col>
              </el-form-item>
            </el-form>
          </el-tab-pane>
        </el-tabs>
      </div>
      <div>
        <el-button
          type="primary"
          @click="methodsSubmitAll"
        >Submit all
        </el-button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'InputsOperationsMethods',
  props: {
    study: {
      type: Object,
      default() {
        return {
        }
      }
    }
  },
  data() {
    return {
      methods: {
        device: {
          load_out: 'lift',
          transportation: 'dry'
        },
        foundation: {
          load_out: 'lift',
          transportation: 'dry'
        },
        anchor: {
          load_out: 'lift'
        },
        collectionpoint: {
          load_out: 'lift',
          transportation: 'dry'
        },
        cable: {
          load_out: 'lift',
          landfall: 'oct'
        }
      },
      activeName: 'devices',
      methodLoadOut: [{
        value: 'lift',
        label: 'Lift-away'
      },
      {
        value: 'float',
        label: 'Float-away'
      },
      {
        value: 'skidded',
        label: 'Skidded'
      },
      {
        value: 'railer',
        label: 'Railed'
      }],
      methodTransport: [{
        value: 'wet',
        label: 'Wet (wet tow)'
      },
      {
        value: 'dry',
        label: 'Dry (on deck / dry tow)'
      }],
      methodPiling: [{
        value: 'hammer',
        label: 'Hammering'
      },
      {
        value: 'drilling',
        label: 'Drilling'
      },
      {
        value: 'vibro',
        label: 'Vibro-piling'
      }],
      methodLandfall: [{
        value: 'oct',
        label: 'OCT'
      },
      {
        value: 'hdd',
        label: 'HDD'
      }]
    }
  },
  methods: {
    methodsSubmitAll() {
      this.clearNulls()
      const compList = [
        'device',
        'foundation',
        'anchor',
        'collectionpoint',
        'cable'
      ]
      for (let compIdx = 0; compIdx < compList.length; compIdx++) {
        const component = compList[compIdx]
        const path = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/methods/${component}`
        const requestBody = this.methods[component]
        axios
          .post(path, requestBody)
          .catch(error => {
            this.$message.error({
              message: error.response.data.message,
              duration: 10000,
              showClose: true
            })
          })
        this.$router.push({
          name: 'lmostudy-open',
          params: { id: this.study.id, loadedActiveStep: 1 }
        })
      }
    },
    clearNulls: function() {
      // Delete null keys
      for (var key1 in this.methods) {
        for (var key2 in this.methods[key1]) {
          if (this.methods[key1][key2] == null) {
            delete this.methods[key1][key2]
          }
        }
      }
    }
  }
}
</script>
