<!--
Logistics and Marine Operations (LMO) tool.
LMO is DTOceanPlus tool to assess marine operations withing wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="inputsproject">
    <div>
      <h1>Project inputs</h1>
      <el-tabs v-model="activeName">
        <el-tab-pane
          label="Operations"
          name="operations"
        >
          <el-form
            ref="project-inputs-operations"
            label-width="300px"
          >
            <el-form-item label="Installation start date">
              <el-col :span="1">
                <el-tooltip
                  class="item"
                  effect="dark"
                  placement="top"
                >
                  <div slot="content">
                    Specify the desired start date for the Installation phase.<br/>
                    The project year does not have any impact on the operation statistics.
                  </div>
                  <i class="el-icon-info"></i>
                </el-tooltip>
              </el-col>
              <el-col :span="11">
                <el-date-picker
                  v-if="study.complexity!=='low'"
                  v-model="operationsForm.installDate"
                  type="date"
                  placeholder="Pick a date"
                  style="width: 100%;"
                ></el-date-picker>
                <el-date-picker
                  v-else
                  v-model="operationsForm.installDate"
                  type="month"
                  placeholder="Pick a month"
                  style="width: 100%;"
                ></el-date-picker>
              </el-col>
            </el-form-item>
            <el-form-item label="Maintenance start date">
              <el-col :span="1">
                <el-tooltip
                  class="item"
                  effect="dark"
                  placement="top"
                >
                  <div slot="content">
                    Specify the desired start date for the Maintenance phase.<br/>
                    An option to consider the installation date will be lates added.
                  </div>
                  <i class="el-icon-info"></i>
                </el-tooltip>
              </el-col>
              <el-col :span="11">
                <el-date-picker
                  v-if="study.complexity!=='low'"
                  v-model="operationsForm.maintDate"
                  type="date"
                  placeholder="Pick a date"
                  style="width: 100%;"
                ></el-date-picker>
                <el-date-picker
                  v-else
                  v-model="operationsForm.maintDate"
                  type="month"
                  placeholder="Pick a month"
                  style="width: 100%;"
                ></el-date-picker>
              </el-col>
            </el-form-item>
            <el-divider></el-divider>
            <el-form-item
              label="Consider device repair at port"
            >
              <el-col :span="1">
                <el-tooltip
                  class="item"
                  effect="dark"
                  placement="top"
                >
                  <div slot="content">
                    Specify whether repairing the device at port should be considered<br/>
                    as an alternative to servicing the device on site.
                  </div>
                  <i class="el-icon-info"></i>
                </el-tooltip>
              </el-col>
              <el-col :span="11">
                <el-checkbox
                  v-model="operationsForm.repairPort"
                ></el-checkbox>
              </el-col>
            </el-form-item>
            <el-form-item label="Device is fully submerged">
              <el-col :span="1">
                <el-tooltip
                  class="item"
                  effect="dark"
                  placement="top"
                >
                  <div slot="content">
                    In case of the device is fullly submerged,<br/>
                    PTO inspections shall be carried using ROVs or divers.
                  </div>
                  <i class="el-icon-info"></i>
                </el-tooltip>
              </el-col>
              <el-col :span="11">
                <el-checkbox
                  v-model="operationsForm.deviceSubmerged"
                ></el-checkbox>
              </el-col>
            </el-form-item>
            <el-form-item
              v-if="study.complexity!=='low'"
              label="Device towing draft (m)"
            >
              <el-col :span="1">
                <el-tooltip
                  class="item"
                  effect="dark"
                  placement="top"
                >
                  <div slot="content">
                    In case of wet-tow is considered as a suitable device transportation method,<br/>
                    the device towing draft may be specified.<br/>
                    Otherwise, the device total draft will be considered instead as default.<br/>
                    Note: wet-tow must be considered as the desired transportation method<br/>
                    in order for these changes to take place.
                  </div>
                  <i class="el-icon-info"></i>
                </el-tooltip>
              </el-col>
              <el-col :span="4">
                <el-input-number
                  v-model="operationsForm.deviceDraft"
                  :min="0"
                  :step="0.1"
                  :disabled="!operationsForm.considerDraft"
                ></el-input-number>
              </el-col>
              <el-col :span="2">
                <el-checkbox
                  v-model="operationsForm.considerDraft"
                >consider</el-checkbox>
              </el-col>
            </el-form-item>
            <el-divider></el-divider>
            <el-form-item
              v-if="study.complexity=='low'"
              label="Operations maximum wave heigth (m)"
            >
              <el-col :span="1">
              </el-col>
              <el-col :span="11">
                <el-input-number
                  v-model="operationsForm.operationsHs"
                  :min="0.1"
                  :max="10"
                  :step="0.1"
                ></el-input-number>
              </el-col>
            </el-form-item>
            <el-form-item
              v-if="false"
              label="Consider cables post burial operation"
            >
              <el-col :span="1">
                <el-tooltip
                  class="item"
                  effect="dark"
                  placement="top"
                >
                  <div slot="content">
                    CONTENT
                  </div>
                  <i class="el-icon-info"></i>
                </el-tooltip>
              </el-col>
              <el-col :span="11">
                <el-checkbox
                  v-model="operationsForm.postBurial"
                ></el-checkbox>
              </el-col>
            </el-form-item>
            <el-form-item
              label="Project life (years)"
            >
              <el-col :span="1">
                <i class="el-icon-info"></i>
              </el-col>
              <el-col :span="11">
                <el-input-number
                  v-model="operationsForm.projectLife"
                  :min="1"
                  :step="1"
                ></el-input-number>
              </el-col>
            </el-form-item>
            <el-form-item
              v-if="study.complexity !== 'low'"
              label="Safety factor for vessel selection"
            >
              <el-col :span="1">
                <el-tooltip
                  class="item"
                  effect="dark"
                  placement="top"
                >
                  <div slot="content">
                    Modify the safety factor to be used when running the logistic functions that evaluate insfrastructure feasibility.<br/>
                    E.g. device area lower than (1-SF) * vessel_deck area.<br/>
                    Default: 20%.
                  </div>
                  <i class="el-icon-info"></i>
                </el-tooltip>
              </el-col>
              <el-col :span="11">
                <el-input-number
                  v-model="operationsForm.safetyFactor"
                  :min="0"
                  :step="0.1"
                ></el-input-number>
              </el-col>
            </el-form-item>
          </el-form>
          <div v-if="study.complexity!=='low'">
            <h3>Input to calculate vessel fuel consumption</h3>
            <el-form
              ref="project-inputs-fuel"
              label-width="300px"
            >
              <el-form-item
                label="Fuel price (€/ton)"
              >
                <el-col :span="1">
                  <el-tooltip
                    class="item"
                    effect="dark"
                    placement="top"
                  >
                    <div slot="content">
                      Specify the desired fuel price per ton.
                    </div>
                    <i class="el-icon-info"></i>
                  </el-tooltip>
                </el-col>
                <el-col :span="11">
                  <el-input-number
                    v-model="operationsForm.fuelPrice"
                    :min="0"
                    :step="1"
                  ></el-input-number>
                </el-col>
              </el-form-item>
              <el-form-item
                label="Specific fuel oil consumption (g/kWh)"
              >
                <el-col :span="1">
                  <el-tooltip
                    class="item"
                    effect="dark"
                    placement="top"
                  >
                    <div slot="content">
                      Reference value for Marine Diesel Oil (MDO) fuel.
                    </div>
                    <i class="el-icon-info"></i>
                  </el-tooltip>
                </el-col>
                <el-col :span="11">
                  <el-input-number
                    v-model="operationsForm.sfoc"
                    :min="1"
                    :step="1"
                  ></el-input-number>
                </el-col>
              </el-form-item>
              <el-form-item
                label="Average vessel load factor"
              >
                <el-col :span="1">
                  <el-tooltip
                    class="item"
                    effect="dark"
                    placement="top"
                  >
                    <div slot="content">
                      Average load factor of the vessel engines throughout the entire operations.<br/>
                      Reference value provided as: 80%.
                    </div>
                    <i class="el-icon-info"></i>
                  </el-tooltip>
                </el-col>
                <el-col :span="11">
                  <el-input-number
                    v-model="operationsForm.loadFactor"
                    :min="0"
                    :max="1"
                    :step="0.1"
                  ></el-input-number>
                </el-col>
              </el-form-item>
            </el-form>
          </div>
        </el-tab-pane>
        <el-tab-pane
          v-if="study.complexity!=='low'"
          label="Statistics"
          name="stats"
        >
          <el-form
            ref="project-inputs-statistics"
            label-width="300px"
          >
            <el-form-item
              v-if="study.complexity!=='low'"
              label="Montecarlo percentage (%)"
            >
              <el-col :span="1">
                <el-tooltip
                  class="item"
                  effect="dark"
                  placement="top"
                >
                  <div slot="content">
                    Percentage of time steps in metocean time-series to analyse.<br/>
                    A higher percentage will provide better results but computations will also take longer.<br/>
	                  A percentage of 25% is advised as an optimal balance between computation time and reliability.
                  </div>
                  <i class="el-icon-info"></i>
                </el-tooltip>
              </el-col>
              <el-col :span="11">
                <el-input-number
                  v-model="statisticsForm.montecarlo"
                  :precision="1"
                  :min="10"
                  :max="100"
                  :step="5"
                ></el-input-number>
              </el-col>
            </el-form-item>
            <el-form-item label="Weather windows statistics">
              <el-col :span="1">
                <el-tooltip
                  class="item"
                  effect="dark"
                  placement="top"
                >
                  <div slot="content">
                    Weather window statistic parameters.<br/>
                    - Select "Median (P50)" to calculate the expected operation durations, based on the median value of waiting on weather.<br/>
	                  - Select "Optimistic (P25)" to calculate the expected operation durations based on the lower bound estimates of waiting on weather, expressed by the p25 statistical parameter.<br/>
	                  - Select "Conservative (P75)" to calculate the expected operation durations based on the upper bound estimates of waiting on weather, expressed by the p75 statistical parameter.
                  </div>
                  <i class="el-icon-info"></i>
                </el-tooltip>
              </el-col>
              <el-col :span="11">
                <el-select
                  v-model="statisticsForm.quantile"
                  placeholder="Select"
                  :disabled="study.complexity==='low'"
                >
                  <el-option
                    v-for="item in selections.quantiles"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  >
                  </el-option>
                </el-select>
              </el-col>
            </el-form-item>
            <el-form-item label="Vessels statistics">
              <el-col :span="1">
                <el-tooltip
                  class="item"
                  effect="dark"
                  placement="top"
                >
                  <div slot="content">
                    A vessel database was generated based on the statistical processing of over 10.000 vessels, which were grouped into smaller vessel clusters.<br/>
                    - Select "Median (P50)" to use the median value of each vessel parameter (default).<br/>
	                  - Select "Lower estimates (P25)" to use the lower p25 percentile values of each vessel parameter.<br/>
	                  - Select "Upper estimates (P75)" to use the upper p72 percentile values of each vessel parameter.
                  </div>
                  <i class="el-icon-info"></i>
                </el-tooltip>
              </el-col>
              <el-col :span="11">
                <el-select
                  v-model="statisticsForm.vesselsQuantile"
                  placeholder="Select"
                  :disabled="study.complexity==='low'"
                >
                  <el-option
                    v-for="item in selections.quantiles_vessels"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  >
                  </el-option>
                </el-select>
              </el-col>
            </el-form-item>
            <el-form-item
              v-if="false"
              label="Periods to be analysed"
            >
              <el-col :span="11">
                <el-select
                  v-model="statisticsForm.period"
                  placeholder="Select"
                >
                  <el-option
                    v-for="item in selections.periods"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  >
                  </el-option>
                </el-select>
              </el-col>
            </el-form-item>
            <el-form-item
              v-if="false"
              label="Ratio of combinations to retain"
            >
              <el-col :span="11">
                <el-input-number
                  v-model="statisticsForm.combRetainRatio"
                  :min="0.1"
                  :max="1"
                  :step="0.01"
                ></el-input-number>
              </el-col>
            </el-form-item>
            <el-form-item
              v-if="false"
              label="Minumum combinations to retain"
            >
              <el-col :span="11">
                <el-input-number
                  v-model="statisticsForm.combRetainMin"
                  :min="1"
                  :step="1"
                ></el-input-number>
              </el-col>
            </el-form-item>
            <el-form-item
              v-if="false"
              label="Maximum wait between activities (hours)"
            >
              <el-col :span="11">
                <el-input-number
                  v-model="statisticsForm.maxWait"
                  :min="0"
                  :step="0.1"
                ></el-input-number>
              </el-col>
            </el-form-item>
          </el-form>
        </el-tab-pane>
      </el-tabs>
    </div>
    <div>
      <el-button
        v-if="isNew==true"
        type="primary"
        @click="createInputs"
      >
        Create
      </el-button>
      <el-button
        v-if="isNew!==true"
        type="primary"
        @click="updateInputs"
      >
        Update
      </el-button>
      <el-button
        v-if="isNew!==true"
        type="danger"
        @click="deleteInputs"
      >
        Delete
      </el-button>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'InputsProject',
  props: {
    study: {
      type: Object,
      default() {
        return {
        }
      }
    },
    isNew: {
      type: Boolean,
      default() {
        return true
      }
    }
  },
  data() {
    return {
      inputsProject: {},
      activeName: 'operations',
      operationsForm: {},
      statisticsForm: {},
      selections: {
        quantiles: [{
          value: 0.5,
          label: 'Median (P50)'
        }, {
          value: 0.25,
          label: 'Optimistic (P25)'
        }, {
          value: 0.75,
          label: 'Conservative (P75)'
        }],
        quantiles_vessels: [{
          value: 0.5,
          label: 'Median (P50)'
        }, {
          value: 0.25,
          label: 'Lower estimates (P25)'
        }, {
          value: 0.75,
          label: 'Upper estimates (P75)'
        }],
        periods: [{
          value: 'month',
          label: 'Months'
        }, {
          value: 'quarter',
          label: 'Quarters'
        }, {
          value: 'trimester',
          label: 'Trimesters'
        }]
      }
    }
  },
  mounted() {
    if (!this.isNew) {
      const path = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/inputs/project`
      axios.get(path)
        .then((response) => {
          this.inputsProject = response.data
          this.operationsForm = {
            installDate: null,
            maintDate: null,
            deviceSubmerged: null,
            repairPort: null,
            projectLife: null,
            operationsHs: null,
            postBurial: null,
            deviceDraft: null,
            considerDraft: null,
            safetyFactor: null,
            fuelPrice: null,
            sfoc: null,
            loadFactor: null
          }
          this.statisticsForm = {
            quantile: null,
            vesselsQuantile: null,
            period: null,
            combRetainRatio: null,
            combRetainMin: null,
            maxWait: null,
            montecarlo: null
          }
          // Convert date from string to Date format
          var dateStr = ''
          var year = ''
          var month = ''
          var day = ''
          var installDate = null
          var maintDate = null
          if (this.inputsProject['installation_date'] !== null) {
            dateStr = this.inputsProject['installation_date'].slice(0, 10).split('/')
            year = dateStr[0]
            month = dateStr[1] - 1
            day = dateStr[2]
            installDate = new Date(year, month, day, 12, 0, 0, 0)
          }
          if (this.inputsProject['maintenance_date'] !== null) {
            dateStr = this.inputsProject['maintenance_date'].slice(0, 10).split('/')
            year = dateStr[0]
            month = dateStr[1] - 1
            day = dateStr[2]
            maintDate = new Date(year, month, day)
          }
          this.operationsForm.installDate = installDate
          this.operationsForm.maintDate = maintDate
          this.operationsForm.deviceSubmerged = !this.inputsProject['topside_exists']
          this.operationsForm.repairPort = this.inputsProject['device_repair_at_port']
          this.operationsForm.projectLife = this.inputsProject['project_life']
          this.operationsForm.operationsHs = this.inputsProject['operations_hs']
          this.operationsForm.postBurial = this.inputsProject['post_burial']
          this.operationsForm.deviceDraft = this.inputsProject['device_draft']
          this.operationsForm.considerDraft = this.inputsProject['consider_draft']
          this.operationsForm.safetyFactor = this.inputsProject['safety_factor']
          this.operationsForm.fuelPrice = this.inputsProject['fuel_price']
          this.operationsForm.sfoc = this.inputsProject['sfoc']
          this.operationsForm.loadFactor = this.inputsProject['load_factor']

          this.statisticsForm.quantile = this.inputsProject['quantile']
          this.statisticsForm.vesselsQuantile = this.inputsProject['quantile_vessels']
          this.statisticsForm.period = this.inputsProject['period']
          this.statisticsForm.maxWait = this.inputsProject['max_wait']
          this.statisticsForm.combRetainRatio = this.inputsProject['comb_retain_ratio']
          this.statisticsForm.combRetainMin = this.inputsProject['comb_retain_min']
          this.statisticsForm.montecarlo = this.inputsProject['montecarlo'] * 100
        })
    } else {
      this.inputsProject = {}
      this.operationsForm = {
        installDate: null,
        maintDate: null,
        deviceSubmerged: false,
        repairPort: false,
        projectLife: 20,
        operationsHs: 2.5,
        postBurial: false,
        deviceDraft: '',
        considerDraft: false,
        safetyFactor: 0.1,
        fuelPrice: 515,
        sfoc: 210,
        loadFactor: 0.8
      }
      this.statisticsForm = {
        quantile: 0.5,
        vesselsQuantile: 0.5,
        period: 'month',
        combRetainRatio: null,
        combRetainMin: null,
        maxWait: 8760,
        montecarlo: 25
      }
    }
  },
  methods: {
    createInputs() {
      this.mergeInputs()
      this.$emit('inputs_create', this.inputsProject)
    },
    updateInputs() {
      this.mergeInputs()
      this.$emit('input_update', this.inputsProject)
    },
    deleteInputs() {
      this.$emit('input_delete')
    },
    mergeInputs: function() {
      var year = ''
      var month = ''
      var day = ''
      var instDate = null
      if (this.operationsForm['installDate'] !== null) {
        year = this.operationsForm['installDate'].getYear() + 1900
        month = this.operationsForm['installDate'].getMonth() + 1
        day = this.operationsForm['installDate'].getDate()
        instDate = year + '/' + month + '/' + day
      }
      var maintDate = null
      if (this.operationsForm['maintDate'] !== null) {
        year = this.operationsForm['maintDate'].getYear() + 1900
        month = this.operationsForm['maintDate'].getMonth() + 1
        day = this.operationsForm['maintDate'].getDate()
        maintDate = year + '/' + month + '/' + day
      }
      this.inputsProject = {
        'quantile': this.statisticsForm['quantile'],
        'quantile_vessels': this.statisticsForm['vesselsQuantile'],
        'period': this.statisticsForm['period'],
        'max_wait': this.statisticsForm['maxWait'],
        'montecarlo': this.statisticsForm['montecarlo'] / 100,
        'comb_retain_ratio': this.statisticsForm['combRetainRatio'],
        'comb_retain_min': this.statisticsForm['combRetainMin'],
        'safety_factor': this.operationsForm['safetyFactor'],
        'device_draft': this.operationsForm['deviceDraft'],
        'consider_draft': this.operationsForm['considerDraft'],
        'fuel_price': this.operationsForm['fuelPrice'],
        'sfoc': this.operationsForm['sfoc'],
        'load_factor': this.operationsForm['loadFactor'],
        'installation_date': instDate,
        'operations_hs': this.operationsForm['operationsHs'],
        'post_burial': this.operationsForm['postBurial'],
        'maintenance_date': maintDate,
        'project_life': this.operationsForm['projectLife'],
        'topside_exists': !this.operationsForm['deviceSubmerged'],
        'device_repair_at_port': this.operationsForm['repairPort']
      }

      // Delete null and empty keys
      for (var key in this.inputsProject) {
        if (this.inputsProject[key] == null || this.inputsProject[key] === '') {
          delete this.inputsProject[key]
        }
      }
    }
  }
}
</script>
