<!--
Logistics and Marine Operations (LMO) tool.
LMO is DTOceanPlus tool to assess marine operations withing wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="inputsphasesrequirements">
    <div>
      <el-form
        ref="phases-requirements-rovs"
        label-width="400px"
      >
        <el-form-item label="Consider ROVs / Divers to support this phase operations.">
          <el-switch
            v-model="requirements.divers"
            style="display: block"
            active-color="#ff4949"
            inactive-color="#13ce66"
            active-text="Divers"
            inactive-text="ROVs"
            @change="handleDiverSwitch()"
          >
          </el-switch>
        </el-form-item>
      </el-form>
      <h3>Port terminal selection preferences</h3>
      <h4>Disregard ports without:</h4>
      <el-form
        ref="phases-requirements-ports"
        label-width="100px"
      >
        <el-form-item label="">
          <el-col :span="11">
            <el-checkbox
              v-model="requirements.previous_projects"
            >
              Past-experience in MRE projects
              <el-tooltip
                class="item"
                effect="dark"
                placement="right"
              >
                <div slot="content">
                  Some port terminals in the data base have past experience in MRE.<br/>
                  Select in case this should be a strict selection criteria.
                </div>
                <i class="el-icon-info"></i>
              </el-tooltip>
            </el-checkbox>
          </el-col>
        </el-form-item>
        <el-form-item label="">
          <el-col :span="11">
            <el-checkbox
              v-model="requirements.terminal_area"
            >
              Insufficient terminal area
              <el-tooltip
                class="item"
                effect="dark"
                placement="right"
                content="Select in case terminal should be a strict selection criteria."
              >
                <i class="el-icon-info"></i>
              </el-tooltip>
            </el-checkbox>
          </el-col>
        </el-form-item>
        <el-form-item label="">
          <el-col :span="11">
            <el-checkbox
              v-model="requirements.terminal_load"
            >
              Insufficient terminal quay load bearing capacity
              <el-tooltip
                class="item"
                effect="dark"
                placement="right"
                content='Select in case quay load bearing should be a strict selection criteria.'
              >
                <i class="el-icon-info"></i>
              </el-tooltip>
            </el-checkbox>
          </el-col>
        </el-form-item>
        <el-form-item label="">
          <el-col :span="11">
            <el-checkbox
              v-model="requirements.terminal_crane"
            >
              Insufficient crane capacity at the terminal
              <el-tooltip
                class="item"
                effect="dark"
                placement="right"
              >
                <div slot="content">
                  On shore cranes may be mobilized and sub-contracted.<br/>
                  Select in case terminal crane capabilities should be a strict selection criteria.
                </div>
                <i class="el-icon-info"></i>
              </el-tooltip>
            </el-checkbox>
          </el-col>
        </el-form-item>
        <el-form-item label="">
          <el-col :span="3">
            <el-input-number
              v-model="requirements.port_maximum_distance"
              placeholder="Type kilometers"
              suffix-icon="el-icon-place"
            ></el-input-number>
          </el-col>
          <el-col class="line" :span="10">
            Outside {{ requirements.port_maximum_distance }} kilometers radius from site
            <el-tooltip
              class="item"
              effect="dark"
              placement="right"
            >
              <div slot="content">
                Specify a maximum distance from port to site.<br/>
                Reducing the distance may significantly reduce computation times.
              </div>
              <i class="el-icon-info"></i>
            </el-tooltip>
          </el-col>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>

export default {
  name: 'InputsPhasesRequirements',
  props: {
    study: {
      type: Object,
      default() {
        return {
        }
      }
    },
    requirements: {
      type: Object,
      default() {
        return {
        }
      }
    }
  },
  data() {
    return {}
  },
  mounted() {
  },
  methods: {
    handleDiverSwitch() {
      if (this.requirements.divers === true) {
        this.$alert(
          'In respect to Healt&Safety, this might not be acceptable.',
          'Consider divers?',
          {
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
            type: 'warning'
          }
        )
          .catch(() => {
            this.requirements.divers = false
          })
      }
    }
  }
}
</script>
