<!--
Logistics and Marine Operations (LMO) tool.
LMO is DTOceanPlus tool to assess marine operations withing wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="inputsmodules">
    <div v-if="modules.mc===false">
      <table style="width: 10px">
        <tr>
          <th>
            <UploadJSONFileSimple
              v-if="modules.mc===false"
              :moduleName="'MC'"
              @file-updated="AddModule('mc', $event)"
              :locked="locked"
            />
          </th>
          <th>
            <el-button
              v-if="!standalone_machine && !incomplete_machine"
              size="small"
              type="primary"
              @click="fetchDataMachine()"
              :loading="loadingMC"
              :disabled="locked"
            >
              Fetch data from MC
            </el-button>
          </th>
        </tr>
      </table>
    </div>
    <div v-else>
      <el-button
        size="small"
        type="danger"
        @click="deleteInputsModule('mc')"
        :disabled="locked"
      >
        Delete MC inputs
      </el-button>
    </div>
    <div v-if="modules.ec===false">
      <table style="width: 10px">
        <tr>
          <th>
            <UploadJSONFileSimple
              v-if="modules.ec===false"
              :moduleName="'EC'"
              @file-updated="AddModule('ec', $event)"
              :locked="locked"
            />
          </th>
          <th>
            <el-button
              v-if="!standalone_capture && !incomplete_capture"
              size="small"
              type="primary"
              @click="fetchDataCapture()"
              :loading="loadingEC"
              :disabled="locked"
            >
              Fetch data from EC
            </el-button>
          </th>
        </tr>
      </table>
    </div>
    <div v-else>
      <el-button
        size="small"
        type="danger"
        @click="deleteInputsModule('ec')"
        :disabled="locked"
      >
        Delete EC inputs
      </el-button>
    </div>
    <div v-if="modules.et===false">
      <table style="width: 10px">
        <tr>
          <th>
            <UploadJSONFileSimple
              v-if="modules.et===false"
              :moduleName="'ET'"
              @file-updated="AddModule('et', $event)"
              :locked="locked"
            />
          </th>
          <th>
            <el-button
              v-if="!standalone_transformation && !incomplete_transformation"
              size="small"
              type="primary"
              @click="fetchDataTransformation()"
              :loading="loadingET"
              :disabled="locked"
            >
              Fetch data from ET
            </el-button>
          </th>
        </tr>
      </table>
    </div>
    <div v-else>
      <el-button
        size="small"
        type="danger"
        @click="deleteInputsModule('et')"
        :disabled="locked"
      >
        Delete ET inputs
      </el-button>
    </div>
    <div v-if="modules.ed===false">
      <table style="width: 10px">
        <tr>
          <th>
            <UploadJSONFileSimple
              v-if="modules.ed===false"
              :moduleName="'ED'"
              @file-updated="AddModule('ed', $event)"
              :locked="locked"
            />
          </th>
          <th>
            <el-button
              v-if="!standalone_delivery && !incomplete_delivery"
              size="small"
              type="primary"
              @click="fetchDataDelivery()"
              :loading="loadingED"
              :disabled="locked"
            >
              Fetch data from ED
            </el-button>
          </th>
        </tr>
      </table>
    </div>
    <div v-else>
      <el-button
        size="small"
        type="danger"
        @click="deleteInputsModule('ed')"
        :disabled="locked"
      >
        Delete ED inputs
      </el-button>
    </div>
    <div v-if="modules.sk===false">
      <table style="width: 10px">
        <tr>
          <th>
            <UploadJSONFileSimple
              v-if="modules.sk===false"
              :moduleName="'SK'"
              @file-updated="AddModule('sk', $event)"
              :locked="locked"
            />
          </th>
          <th>
            <el-button
              v-if="!standalone_station && !incomplete_station"
              size="small"
              type="primary"
              @click="fetchDataStation()"
              :loading="loadingSK"
              :disabled="locked"
            >
              Fetch data from SK
            </el-button>
          </th>
        </tr>
      </table>
    </div>
    <div v-else>
      <el-button
        size="small"
        type="danger"
        @click="deleteInputsModule('sk')"
        :disabled="locked"
      >
        Delete SK inputs
      </el-button>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import UploadJSONFileSimple from './UploadJSONFileSimple'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from '@/dtop/dtopConsts'

export default {
  name: 'InputsModules',
  components: { UploadJSONFileSimple },
  props: {
    study: {
      type: Object,
      default() {
        return {
        }
      }
    },
    modules: {
      type: Object,
      default() {
        return {}
      }
    },
    locked: {
      type: Boolean,
      default() {
        return false
      }
    }
  },
  data() {
    return {
      project: [],
      standalone_machine: true,
      standalone_capture: true,
      standalone_transformation: true,
      standalone_delivery: true,
      standalone_station: true,
      incomplete_machine: false,
      incomplete_capture: false,
      incomplete_transformation: false,
      incomplete_delivery: false,
      incomplete_station: false,
      loadingMC: false,
      loadingEC: false,
      loadingET: false,
      loadingED: false,
      loadingSK: false
    }
  },
  created() {
    console.log(this.study.id)
    this.get_integration_data(this.study.id)
  },
  methods: {
    AddModule(moduleName, request) {
      const path = `${process.env.VUE_APP_API_URL}/api/${this.study['id']}/inputs/${moduleName}`
      axios
        .post(path, request)
        .then(res => {
          if (res.status === 201) {
            this.$message({
              message: moduleName + ' inputs added.',
              type: 'success',
              center: true
            })
            this.modules[moduleName] = true
          }
        })
        .catch(error => {
          this.$message.error({
            message: error.response.data.message,
            duration: 10000,
            showClose: true
          })
          $this.message.error({

          })
        })
    },
    fetchDataMachine() {
      this.loadingMC = true
      const path = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/integration/mc`
      const payload = {
        'mc_general': `/mc/${this.mcId}/general`,
        'mc_dimensions': `/mc/${this.mcId}/dimensions`
      }
      console.log(path)
      console.log(payload)
      axios
        .post(path, payload)
        .then((res) => {
          if (res.status === 201) {
            this.modules['mc'] = true
          }
          this.loadingMC = false
        })
        .catch((error) => {
          console.log(error)
          this.$message.error('Error when fetching data from Machine Characterization module')
          this.loadingMC = false
        })
    },
    fetchDataCapture() {
      this.loadingEC = true
      const path = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/integration/ec`
      const payload = {
        'ec_farm': `/ec/${this.ecId}/farm`
      }
      console.log(path)
      console.log(payload)
      axios
        .post(path, payload)
        .then((res) => {
          if (res.status === 201) {
            this.modules['ec'] = true
          }
          this.loadingEC = false
        })
        .catch((error) => {
          console.log(error)
          this.$message.error('Error when fetching data from Energy Capture module')
          this.loadingEC = false
        })
    },
    fetchDataTransformation() {
      this.loadingET = true
      const path = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/integration/et`
      const payload = {
        'et_array': `/energy_transf/${this.etId}/array`,
        'et_devices': `/energy_transf/${this.etId}/devices`,
        'et_device_ptos': `/energy_transf/${this.etId}/devices/device_id/ptos`
      }
      console.log(path)
      console.log(payload)
      axios
        .post(path, payload)
        .then((res) => {
          if (res.status === 201) {
            this.modules['et'] = true
          }
          this.loadingET = false
        })
        .catch((error) => {
          console.log(error)
          this.$message.error('Error when fetching data from Energy Transformation module')
          this.loadingET = false
        })
    },
    fetchDataDelivery() {
      this.loadingED = true
      const path = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/integration/ed`
      const payload = {
        'ed_results': `/api/energy-deliv-studies/${this.edId}/results`
      }
      console.log(path)
      console.log(payload)
      axios
        .post(path, payload)
        .then((res) => {
          if (res.status === 201) {
            this.modules['ed'] = true
          }
          this.loadingED = false
        })
        .catch((error) => {
          console.log(error)
          this.$message.error('Error when fetching data from Energy Delivery module')
          this.loadingED = false
        })
    },
    fetchDataStation() {
      this.loadingSK = true
      const path = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/integration/sk`
      const payload = {
        'sk_hierarchy': `/sk/${this.skId}/hierarchy`
      }
      console.log(path)
      console.log(payload)
      axios
        .post(path, payload)
        .then((res) => {
          console.log(res)
          if (res.status === 201) {
            this.modules['sk'] = true
          }
          this.loadingSK = false
        })
        .catch((error) => {
          console.log(error)
          this.$message.error('Error when fetching data from Station Keeping module')
          this.loadingSK = false
        })
    },
    deleteInputsModule(moduleName) {
      const path = `${process.env.VUE_APP_API_URL}/api/${this.study['id']}/inputs/${moduleName}`
      axios
        .delete(path)
        .then(res => {
          if (res.status === 200) {
            this.$message({
              message: moduleName + ' inputs deleted.',
              type: 'success',
              center: true
            })
            this.modules[moduleName] = false
          }
        })
        .catch(error => {
          this.$message({
            message: error.response.data.message,
            duration: 5000
          })
        })
    },
    get_integration_data(lmoId) {
      // "http://0.0.0.0/mm.dtop/api/integration/modules/lmo/entities/1"
      const path = `${DTOP_PROTOCOL}//mm.${DTOP_DOMAIN}/api/integration/modules/lmo/entities/${lmoId}`
      console.log(path)
      axios.get(path)
        .then((res) => {
          this.project = res.data
          console.log(this.project)
          if (this.project.length === 0) {
            this.$notify.error({
              title: 'Info',
              message: 'Connection established with the Main Module, but this LMO entity is not registered.'
            })
          } else {
            console.log('project data : ', this.project)
            this.$notify.info({
              title: 'Info',
              message: 'Connection established with the Main Module.'
            })
            this.get_machineEntity()
            this.get_captureEntity()
            this.get_transformationEntity()
            this.get_deliveryEntity()
            this.get_stationEntity()
          }
        })
        .catch((error) => {
          console.log(error)
          this.project = []
          this.$notify.error({
            showClose: true,
            duration: 3000,
            title: 'Connection Error',
            message: 'Cannot establish a connection with the Main Module. LMO can be used only as a standalone.'
          })
        })
    },
    get_machineEntity() {
      try {
        const prj_str = this.project
        const study = prj_str.filter((s) => { return s.moduleId === 7 })
        const machine_entity = prj_str.filter((e) => { return e.studyId == study[0].studyId && e.moduleId === 2 })
        this.mcId = machine_entity[0].entityId
        this.get_machineStatus(this.mcId)
      } catch (error) {
        this.$message.error(error)
        this.standalone_machine = true
        this.$notify.warning({
          title: 'MC warning',
          message: 'No MC entity has been registered, so please insert data manually.',
          duration: 3000
        })
      }
      return this.project
    },
    get_machineStatus(machineId) {
      const path = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/${machineId}`
      axios.get(path)
        .then((res) => {
          const entity_data = res.data
          const url_entity = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/#/mc-entity?entityID=${machineId}`
          const text_entity = 'here'
          this.machine_url = text_entity.link(url_entity)
          if (entity_data.status === 100) {
            this.standalone_machine = false
            this.incomplete_machine = false
            // this.$notify.info({
            //   title: 'Info',
            //   message: 'A MC entity has been registered and finalised. You can see details clicking ' + text_entity.link(url_entity),
            //   duration: 3000
            // })
          } else {
            this.standalone_machine = false
            this.incomplete_machine = true
            this.$notify.warning({
              title: 'MC warning',
              message: 'A MC entity has been registered but not finalised.',
              duration: 3000
            })
          }
        })
        .catch((error) => {
          console.log(error)
          this.standalone_machine = false
          this.incomplete_machine = true
          this.$notify.error({
            title: 'Error',
            message: 'Error retrieving the status of the MC entity.',
            duration: 3000
          })
        })
    },
    get_captureEntity() {
      try {
        const prj_str = this.project
        const study = prj_str.filter((s) => { return s.moduleId === 7 })
        const capture_entity = prj_str.filter((e) => { return e.studyId == study[0].studyId && e.moduleId === 3 })
        this.ecId = capture_entity[0].entityId
        this.get_captureStatus(this.ecId)
      } catch (error) {
        this.$message.error(error)
        this.standalone_capture = true
        this.$notify.warning({
          title: 'EC Warning',
          message: 'No EC entity has been registered, so please insert data manually.',
          duration: 3000
        })
      }
      return this.project
    },
    get_captureStatus(captureId) {
      const path = `${DTOP_PROTOCOL}//ec.${DTOP_DOMAIN}/ec/${captureId}`
      axios.get(path)
        .then((res) => {
          const entity_data = res.data
          const url_entity = `${DTOP_PROTOCOL}//ec.${DTOP_DOMAIN}/ec/#/ec-entity?entityID=${captureId}`
          const text_entity = 'here'
          this.capture_url = text_entity.link(url_entity)
          if (entity_data.status === 100) {
            this.standalone_capture = false
            this.incomplete_capture = false
            // this.$notify.info({
            //   title: 'Info',
            //   message: 'An EC entity has been registered and finalised. You can see details clicking ' + text_entity.link(url_entity),
            //   duration: 3000
            // })
          } else {
            this.standalone_capture = false
            this.incomplete_capture = true
            this.$notify.warning({
              title: 'EC warning',
              message: 'An EC entity has been registered but not finalised.',
              duration: 3000
            })
          }
        })
        .catch((error) => {
          console.log(error)
          this.standalone_capture = false
          this.incomplete_capture = true
          this.$notify.error({
            title: 'Error',
            message: 'Error retrieving the status of the EC entity.',
            duration: 3000
          })
        })
    },
    get_transformationEntity() {
      try {
        const prj_str = this.project
        const study = prj_str.filter((s) => { return s.moduleId === 7 })
        const transformation_entity = prj_str.filter((e) => { return e.studyId == study[0].studyId && e.moduleId === 4 })
        this.etId = transformation_entity[0].entityId
        this.get_transformationStatus(this.etId)
      } catch (error) {
        this.$message.error(error)
        this.standalone_transformation = true
        this.$notify.warning({
          title: 'ET warning',
          message: 'No ET entity has been registered, so please insert data manually.',
          duration: 3000
        })
      }
      return this.project
    },
    get_transformationStatus(transformationId) {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${transformationId}`
      axios.get(path)
        .then((res) => {
          const entity_data = res.data
          const url_entity = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/#/energy_transf/${transformationId}/other-modules`
          const text_entity = 'here'
          this.transformation_url = text_entity.link(url_entity)
          if (entity_data.study_result.status === 100) {
            this.standalone_transformation = false
            this.incomplete_transformation = false
            // this.$notify.info({
            //   title: 'Info',
            //   message: 'An ET entity has been registered and finalised. You can see details clicking ' + text_entity.link(url_entity),
            //   duration: 3000
            // })
          } else {
            this.standalone_transformation = false
            this.incomplete_transformation = true
            this.$notify.warning({
              title: 'ET warning',
              message: 'An ET entity has been registered but not finalised.',
              duration: 3000
            })
          }
        })
        .catch((error) => {
          console.log(error)
          this.standalone_transformation = false
          this.incomplete_transformation = true
          this.$notify.error({
            title: 'Error',
            message: 'Error retrieving the status of the ET entity.',
            duration: 3000
          })
        })
    },
    get_deliveryEntity() {
      try {
        const prj_str = this.project
        const study = prj_str.filter((s) => { return s.moduleId === 7 })
        const delivery_entity = prj_str.filter((e) => { return e.studyId == study[0].studyId && e.moduleId === 5 })
        this.edId = delivery_entity[0].entityId
        this.get_deliveryStatus(this.edId)
      } catch (error) {
        this.$message.error(error)
        this.standalone_delivery = true
        this.$notify.warning({
          title: 'ED warning',
          message: 'No ED entity has been registered, so please insert data manually.',
          duration: 3000
        })
      }
      return this.project
    },
    get_deliveryStatus(deliveryId) {
      const path = `${DTOP_PROTOCOL}//ed.${DTOP_DOMAIN}/api/energy-deliv-studies/${deliveryId}`
      axios.get(path)
        .then((res) => {
          // debugger
          const entity_data = res.data
          const url_entity = `${DTOP_PROTOCOL}//ed.${DTOP_DOMAIN}/#/energy-deliv-studies/${deliveryId}`
          const text_entity = 'here'
          this.delivery_url = text_entity.link(url_entity)
          if (entity_data.status === 100) {
            this.standalone_delivery = false
            this.incomplete_delivery = false
            // this.$notify.info({
            //   title: 'Info',
            //   message: 'An ED entity has been registered and finalised. You can see details clicking ' + text_entity.link(url_entity),
            //   duration: 3000
            // })
          } else {
            this.standalone_delivery = false
            this.incomplete_delivery = true
            this.$notify.warning({
              title: 'ED warning',
              message: 'An ED entity has been registered but not finalised.',
              duration: 3000
            })
          }
        })
        .catch((error) => {
          console.log(error)
          this.standalone_delivery = false
          this.incomplete_delivery = true
          this.$notify.error({
            title: 'Error',
            message: 'Error retrieving the status of the Ed entity.',
            duration: 3000
          })
        })
    },
    get_stationEntity() {
      try {
        const prj_str = this.project
        const study = prj_str.filter((s) => { return s.moduleId === 7 })
        const station_entity = prj_str.filter((e) => { return e.studyId == study[0].studyId && e.moduleId === 6 })
        this.skId = station_entity[0].entityId
        this.get_stationStatus(this.skId)
      } catch (error) {
        this.$message.error(error)
        this.standalone_station = true
        this.$notify.warning({
          title: 'SK warning',
          message: 'No SK entity has been registered, so please insert data manually.',
          duration: 3000
        })
      }
      return this.project
    },
    get_stationStatus(stationId) {
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${stationId}/status`
      axios.get(path)
        .then((res) => {
          const status = res.data
          // const url_entity = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/#/study/${stationId}/home`
          // const text_entity = 'here'
          // this.station_url = text_entity.link(url_entity)
          if (status === 100) {
            this.standalone_station = false
            this.incomplete_station = false
            // this.$notify.info({
            //   title: 'Info',
            //   message: 'A SK entity has been registered and finalised. You can see details clicking ' + text_entity.link(url_entity),
            //   duration: 3000
            // })
          } else {
            this.standalone_station = false
            this.incomplete_station = true
            this.$notify.warning({
              title: 'SK warning',
              message: 'A SK entity has been registered but not finalised.',
              duration: 3000
            })
          }
        })
        .catch((error) => {
          console.log(error)
          this.standalone_station = false
          this.incomplete_station = true
          this.$notify.error({
            title: 'Error',
            message: 'Error retrieving the status of the SK entity.',
            duration: 3000
          })
        })
    }
  }
}
</script>
