<template>
  <div class="LastSaved">
    <span v-if="datetime"> Saved: {{ datetime.toString() }}</span>
    <span v-else>No Changes have been made since loading</span>
  </div>
</template>

<script>
export default {
  name: 'LastSaved',
  props: {
    datetime: Date
  }
}
</script>

<style>
.LastSaved {
  text-align: center;
  padding: 20px;
}
</style>
