<!--
Logistics and Marine Operations (LMO) tool.
LMO is DTOceanPlus tool to assess marine operations withing wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div id="lmostudy-list">
    <div>
      <el-button
        type="primary"
        data-cy="btnNewLmoStudy"
        @click="$router.push({ name: 'lmostudy-create' })"
      ><i class="el-icon-document-add" /><span>Create new Logistics and Marine Operations study</span></el-button>
      <br><br><br>
      <h1> Existing Studies</h1>
      <el-table
        :data="studies"
        style="width: 100%"
      >
        <el-table-column
          fixed
          prop="id"
          label="ID"
          width="50"
        >
        </el-table-column>
        <el-table-column
          prop="name"
          label="Name"
          width="120"
        >
        </el-table-column>
        <el-table-column
          prop="description"
          label="Description"
          width="300"
        >
        </el-table-column>
        <el-table-column
          prop="complexity"
          label="Complexity"
          width="120"
        >
        </el-table-column>
        <el-table-column
          prop="date"
          label="Date"
          width="180"
        >
        </el-table-column>
        <el-table-column
          label="Status"
          width="180"
        >
          <template slot-scope="scope">
            <el-progress
              :text-inside="true"
              :stroke-width="26"
              :percentage="scope.row.status"
            >
            </el-progress>
          </template>
        </el-table-column>
        <el-table-column
          fixed="right"
          label="Operations"
          align="center"
        >
          <template slot-scope="scope">
            <el-tooltip
              class="item"
              effect="dark"
              content="Open LMO study."
              placement="top"
            >
              <el-button
                @click="openStudy(scope.row)"
              >Open
              </el-button>
            </el-tooltip>
            <el-tooltip
              class="item"
              effect="dark"
              placement="top"
            >
              <div slot="content">
                Edit high level properties<br/>
                of the study, such as<br/>
                name and complexity level.
              </div>
              <el-button
                @click="editStudy(scope.row)"
              >Edit
              </el-button>
            </el-tooltip>
            <el-tooltip
              class="item"
              effect="dark"
              placement="right"
            >
              <div slot="content">
                Delete study.<br/>
                Warning: this operation is irreversible.
              </div>
              <el-button
                type="danger"
                title="Delete"
                @click="deleteLmoStudy(scope.row)"
              >Delete
              </el-button>
            </el-tooltip>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'LmoStudySubmenu',
  data() {
    return {
      studies: []
    }
  },
  created() {
    this.getLmoStudyList()
  },
  methods: {
    openStudy(row) {
      this.$router.push({ name: 'lmostudy-open', params: { id: row.id }})
    },
    editStudy(row) {
      this.$router.push({ name: 'lmostudy-update', params: { id: row.id }})
    },
    deleteLmoStudy(row) {
      this.$alert(
        "This will permanently remove the '" + row.name + "' study.",
        'Delete study?',
        {
          showCancelButton: true,
          confirmButtonText: 'Confirm',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }
      )
        .then(() => {
          const path = `${process.env.VUE_APP_API_URL}/api/study/${row.id}`
          axios.delete(path)
            .then(() => {
              this.$message({
                type: 'success',
                message: "Successfully deleted '" + row.name + "'"
              })
              const idx = this.studies.findIndex((x) => x.id === row.id)
              this.studies.splice(idx, 1)
              this.resetUploadData()
            })
            .catch(() => {
              this.$message({
                type: 'error',
                message: "Failed to delete '" + row.name + "'"
              })
            })
        })
        .catch(() => {})
    },
    resetUploadData() {
      this.formDisabled = false
    },
    getLmoStudyList() {
      const path = `${process.env.VUE_APP_API_URL}/api/study`
      axios.get(path)
        .then((response) => {
          const studiesList = response.data
          // Convert SQL date to JS string
          for (let studyIdx = 0; studyIdx < studiesList.length; studyIdx++) {
            const sqlDateArr = studiesList[studyIdx].date.split('-')
            const year = sqlDateArr[0].toString()
            const month = sqlDateArr[1].toString()
            const sqlDateArr2 = sqlDateArr[2].split('T')
            const day = sqlDateArr2[0].toString()
            const sqlDateArr3 = sqlDateArr2[1].split(':')
            const hour = sqlDateArr3[0].toString()
            const minute = sqlDateArr3[1].toString()
            const second = parseInt(sqlDateArr3[2]).toString()
            studiesList[studyIdx].date = year + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second
          }
          this.studies = studiesList
        })
    }
  }
}
</script>

<style>
ul {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 5px;
}
.lmostudy-uploader .el-upload {
  display: flex;
  width: 250px;
  height: 50px;
  border-radius: 6px;
  border: 1px dashed #d9d9d9;
  align-items: center;
  justify-content: center;
}
.lmostudy-uploader .el-upload:hover {
  border-color: #409eff;
}
.lmostudy-uploader .el-upload p {
  margin-left: 15px;
}

.lmostudyFormName {
  display: flex;
  align-items: flex-start;
  max-width: 250px;
  margin: 16px 0;
}
.lmostudyFormName .el-button {
  margin-left: 10px;
}
</style>
