<!--
Logistics and Marine Operations (LMO) tool.
LMO is DTOceanPlus tool to assess marine operations withing wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div id="lmostudy-open">
    <br>
    <lmo-study-header :study="study" />
    <br>
    <el-form ref="study-open-steps" label-width="10px">
      <el-form-item label="">
        <el-col :span="15">
          <el-steps
            :space="200"
            :active="activeStep"
            finish-status="success"
          >
            <el-step title="Project"></el-step>
            <el-step title="Operations"></el-step>
            <el-step title="Calculations"></el-step>
            <el-step title="Results"></el-step>
          </el-steps>
        </el-col>
        <el-col :span="5">
          <el-button
            style="margin-top: 12px;"
            type="primary"
            icon="el-icon-arrow-left"
            @click="prevStep"
            :disabled="activeStep === 0"
          >Previous</el-button>
          <el-tooltip
            v-if="nextStepDisabled"
            class="item"
            effect="dark"
            placement="bottom"
            :disabled="!nextStepDisabled"
          >
            <div
              v-if="activeStep === 0"
              slot="content"
            >
              In order to proceed, please save and lock uploaded project inputs.
            </div>
            <div
              v-if="activeStep === 1"
              slot="content"
            >
              In order to proceed, please generate at least one phase operations.
            </div>
            <div
              v-if="activeStep === 2"
              slot="content"
            >
              In order to proceed, please calculate at least one phase.
            </div>
            <div
              v-if="activeStep === 3"
              slot="content"
            >
              No further steps
            </div>
            <el-button
              class="disabled-button"
              style="margin-top: 12px;"
              type="primary"
            >Next<i class=" el-icon-arrow-right"></i>
            </el-button>
          </el-tooltip>
          <el-button
            v-else
            style="margin-top: 12px;"
            type="primary"
            @click="nextStep"
            :disabled="nextStepDisabled"
          >Next<i class=" el-icon-arrow-right"></i>
          </el-button>
        </el-col>
      </el-form-item>
    </el-form>

    <div
      v-if="activeStep === 0"
      id="lmostudy-open-project"
    >
      <el-form
        ref="study-project"
        label-width="280px"
        label-position="left"
      >
        <el-form-item label="Project inputs:">
          <el-button
            v-if="study.inputs==null"
            :disabled="lockProject == true"
            @click="handleInputsOpen('inputs-project')"
          >Add
          </el-button>
          <el-button
            v-if="study.inputs!==null"
            :disabled="lockProject == true"
            @click="handleInputsOpen('inputs-project')"
          >Update
          </el-button>
          <el-button
            v-if="study.inputs!==null"
            type="danger"
            plain
            :disabled="lockProject == true"
            @click="handleInputsDelete('project')"
          >Delete
          </el-button>
        </el-form-item>
        <el-form-item label="Other modules inputs:">
          <InputsModules
            :study="study"
            :modules="modulesLoaded"
            :locked="lockProject == true"
          />
        </el-form-item>
        <el-form-item label="Site inputs:">
          <el-button
            v-if="!standalone_site && !incomplete_site && study.site==null"
            :disabled="lockProject == true"
            @click="fetchDataSite"
          >
            Fetch data from SC
          </el-button>
          <el-button
            v-else-if="study.site==null"
            :disabled="lockProject == true"
            @click="handleSiteOpen"
          >Add
          </el-button>
          <el-button
            v-else
            type="danger"
            plain
            :disabled="lockProject == true"
            @click="handleSiteDelete"
          >Delete
          </el-button>
        </el-form-item>
        <el-form-item label="Project lifecycle phases to consider:">
          <el-checkbox-group
            v-model="checkboxPhases"
            :disabled="lockProject == true"
          >
            <el-checkbox-button
              v-for="phase in logisticPhases"
              :key="phase.phase"
              :label="phase.label"
              :disabled="phase.phase === 'deco' && !logisticPhases.installation.considered"
              @change="handlePhasesChange"
            >{{ phase.label }}
            </el-checkbox-button>
          </el-checkbox-group>
        </el-form-item>
        <el-form-item label="Save Project tab">
          <el-button
            type="primary"
            round
            :disabled="lockProject === true || study.inputs===null || minimumModuledLoaded===false || study.site===null || checkboxPhases.length===0"
            :loading="locking"
            @click="handleSaveProject"
          >
            Save and Lock
          </el-button>
          <el-button
            type="primary"
            plain
            :disabled="lockProject === false"
            @click="handleUnlockProject"
          >
            Unlock
          </el-button>
        </el-form-item>
      </el-form>
    </div>
    <div
      v-if="activeStep === 1"
      id="lmostudy-open-operations"
    >
      <el-form
        ref="study-operations"
        label-width="320px"
        label-position="left"
      >
        <el-form-item
          v-if="logisticPhases.installation.considered === true"
          label="Generate Installation operations:"
        >
          <el-button
            v-if="logisticPhases.installation.operations === false"
            type="primary"
            icon="el-icon-error"
            style="width: 160px;"
            :loading="logisticPhases.installation.loadingOps === true"
            @click="handleGenerateOps('installation')"
          >Generate
          </el-button>
          <div v-else>
            <el-button
              plain
              icon="el-icon-circle-check"
              style="width: 160px;"
              @click="handleResetOps('installation')"
            >Delete
            </el-button>
            <el-tooltip
              class="item"
              effect="dark"
              placement="top"
            >
              <div slot="content">
                Functionality to change the sequence of the installation operations.<br/>
                To be implemented later.
              </div>
              <el-button
                v-if="false"
                primary
                disabled
              >Redefine operation sequence
              </el-button>
            </el-tooltip>
          </div>
        </el-form-item>
        <el-form-item
          v-if="logisticPhases.maintenance.considered === true"
          label="Generate Maintenance operations:"
        >
          <el-button
            v-if="logisticPhases.maintenance.operations === false"
            type="primary"
            icon="el-icon-error"
            style="width: 160px;"
            :loading="logisticPhases.maintenance.loadingOps === true"
            @click="handleGenerateOps('maintenance')"
          >Generate
          </el-button>
          <div v-else>
            <el-button
              plain
              icon="el-icon-circle-check"
              style="width: 160px;"
              @click="handleResetOps('maintenance')"
            >Delete
            </el-button>
            <el-tooltip
              class="item"
              effect="dark"
              placement="top"
            >
              <div slot="content">
                Visualise the generated maintenance operations.<br/>
                To be implemented later.
              </div>
              <el-button
                v-if="false"
                primary
                disabled
              >Check operations
              </el-button>
            </el-tooltip>
          </div>
        </el-form-item>
        <el-form-item
          v-if="logisticPhases.decommissioning.considered === true"
          label="Generate Decommissioning operations:"
        >
          <el-tooltip
            v-if="logisticPhases.decommissioning.operations === false"
            class="item"
            effect="dark"
            content="Generated considering Installation operations"
            placement="right">
            <el-button-group>
              <el-button
                type="primary"
                icon="el-icon-error"
                style="width: 160px;"
                :loading="logisticPhases.decommissioning.loadingOps === true"
                :disabled="logisticPhases.installation.operations === false"
                @click="handleGenerateOps('decommissioning')"
              >Generate
              </el-button>
            </el-button-group>
          </el-tooltip>
          <el-button
            v-else
            plain
            icon="el-icon-circle-check"
            style="width: 160px;"
            @click="handleResetOps('decommissioning')"
          >Delete
          </el-button>
        </el-form-item>
        <el-form-item
          v-if="study.complexity !== 'low'"
          label="Phase requirements:"
        >
          <el-button
            @click="handlePhaseRequirements('inputs-phases-requirements')"
          >View
          </el-button>
        </el-form-item>
        <el-form-item
          v-if="study.complexity !== 'low'"
          label="Operation methods:"
        >
          <el-tooltip
            class="item"
            effect="dark"
            content="You must generete all operations before"
            placement="right"
            :disabled="methodsDisabled === false"
          >
            <el-button-group>
              <el-button
                :disabled="methodsDisabled"
                @click="handleOpMethodsOpen('inputs-operations-methods')"
              >View
              </el-button>
            </el-button-group>
          </el-tooltip>
        </el-form-item>
      </el-form>
    </div>
    <div
      v-if="activeStep === 2"
      id="lmostudy-open-calculations"
    >
      <el-form
        ref="study-calculations"
        label-width="20px"
        label-position="left"
      >
        <el-form-item v-if="logisticPhases.installation.considered === true">
          <el-button
            v-if="logisticPhases.installation.results === false"
            type="primary"
            data-cy="btnComputeResults"
            :loading="logisticPhases.installation.loadingRes"
            :disabled="logisticPhases.installation.operations === false"
            @click="warningComputation('installation')"
          >
            Compute Installation Results
          </el-button>
          <el-button
            v-else
            type="danger"
            data-cy="btnDeleteResults"
            @click="deleteResults('installation')"
          >
            Delete Installation Results
          </el-button>
        </el-form-item>
        <el-form-item v-if="logisticPhases.maintenance.considered === true">
          <el-button
            v-if="logisticPhases.maintenance.results === false"
            type="primary"
            data-cy="btnComputeResults"
            :loading="logisticPhases.maintenance.loadingRes"
            :disabled="logisticPhases.maintenance.operations === false"
            @click="warningComputation('maintenance')"
          >
            Compute Maintenance Results
          </el-button>
          <el-button
            v-else
            type="danger"
            data-cy="btnDeleteResults"
            @click="deleteResults('maintenance')"
          >
            Delete Maintenance Results
          </el-button>
        </el-form-item>
        <el-form-item v-if="logisticPhases.decommissioning.considered === true">
          <el-tooltip
            v-if="logisticPhases.decommissioning.results === false"
            class="item"
            effect="dark"
            content="Compute Installation Results first"
            placement="right"
            :disabled="logisticPhases.installation.results === true"
          >
            <el-button-group>
              <el-button
                type="primary"
                data-cy="btnComputeResults"
                :loading="logisticPhases.decommissioning.loadingRes"
                :disabled="logisticPhases.installation.results === false"
                @click="warningComputation('decommissioning')"
              >
                Compute Decommissioning Results
              </el-button>
            </el-button-group>
          </el-tooltip>
          <el-button
            v-else
            type="danger"
            data-cy="btnDeleteResults"
            :disabled="logisticPhases.decommissioning.considered === false"
            @click="deleteResults('decommissioning')"
          >
            Delete Decommissioning Results
          </el-button>
        </el-form-item>
      </el-form>
    </div>
    <div
      v-if="activeStep === 3"
      id="lmostudy-open-results"
    >
      <el-form
        ref="study-results"
        label-width="300px"
        label-position="left"
      >
        <el-form-item
          v-if="logisticPhases.installation.considered === true"
          label="Installation solution:"
        >
          <el-button
            type="primary"
            @click="handleInstallationOpen"
            :disabled="logisticPhases.installation.results === false"
          >
            View
          </el-button>
        </el-form-item>
        <el-form-item
          v-if="logisticPhases.maintenance.considered === true"
          label="Maintenance solution:"
        >
          <el-button
            type="primary"
            @click="handleMaintenanceOpen"
            :disabled="logisticPhases.maintenance.results === false"
          >
            View
          </el-button>
        </el-form-item>
        <el-form-item
          v-if="logisticPhases.decommissioning.considered === true"
          label="Decommissioning solution:"
        >
          <el-button
            type="primary"
            @click="handleDecommissioningOpen"
            :disabled="logisticPhases.decommissioning.results === false"
          >
            View
          </el-button>
        </el-form-item>
        <el-form-item
          label="Export Digital Representation:"
        >
          <el-button
            @click="handleExportDR"
            :disabled="exportDRDisabled === true"
          >
            View
          </el-button>
        </el-form-item>
        <el-form-item
          label="Export Full Study:"
        >
          <el-button
            @click="handleExportStudy"
            :disabled="exportDRDisabled === true"
          >
            View
          </el-button>
        </el-form-item>
      </el-form>
    </div>

  </div>
</template>

<script>
import axios from 'axios'
import LmoStudyHeader from './LmoStudyHeader.vue'
import InputsModules from './inputs/InputsModules'
export default {
  name: 'StudyOpen',
  components: { LmoStudyHeader, InputsModules },
  props: {
    study: {
      type: Object,
      default() {
        return {
        }
      }
    },
    loadedActiveStep: {
      type: Number,
      default() {
        return 0
      }
    }
  },
  data() {
    return {
      activeStep: 0,
      lockProject: false,
      locking: false,
      modulesLoaded: {
        mc: false,
        ec: false,
        et: false,
        ed: false,
        sk: false
      },
      standalone_site: true,
      incomplete_site: false,
      checkboxPhases: [],
      logisticPhases: {
        installation: {
          label: 'Installation',
          phase: 'install',
          considered: false,
          requirements: false,
          operations: false,
          loadingOps: false,
          results: false,
          loadingRes: false
        },
        maintenance: {
          label: 'Maintenance',
          phase: 'maint',
          considered: false,
          requirements: false,
          operations: false,
          loadingOps: false,
          results: false,
          loadingRes: false
        },
        decommissioning: {
          label: 'Decommissioning',
          phase: 'deco',
          considered: false,
          results: false,
          operations: false,
          loadingOps: false,
          loadingRes: false
        }
      },
      methSubmitted: false
    }
  },
  computed: {
    minimumModuledLoaded: function() {
      if (this.modulesLoaded.mc === true) {
        return true
      }
      if (this.modulesLoaded.ec === true) {
        return true
      }
      if (this.modulesLoaded.et === true) {
        return true
      }
      if (this.modulesLoaded.ed === true) {
        return true
      }
      if (this.modulesLoaded.sk === true) {
        return true
      }
      return false
    },
    nextStepDisabled: function() {
      if (this.activeStep === 0) {
        if (this.lockProject === true) {
          return false
        } else {
          return true
        }
      } else if (this.activeStep === 1) {
        if (this.logisticPhases.installation.operations === true) {
          return false
        } else if (this.logisticPhases.maintenance.operations === true) {
          return false
        }
        return true
      } else if (this.activeStep < 2) {
        if (this.logisticPhases.installation.operations === true) {
          return false
        } else if (this.logisticPhases.maintenance.operations === true) {
          return false
        } else {
          return true
        }
      } else if (this.activeStep < 3) {
        if (this.logisticPhases.installation.results === true) {
          return false
        } else if (this.logisticPhases.maintenance.results === true) {
          return false
        } else {
          return true
        }
      } else {
        return true
      }
    },
    methodsDisabled: function() {
      if (this.logisticPhases.installation.considered && !this.logisticPhases.installation.operations) {
        return true
      }
      if (this.logisticPhases.maintenance.considered && !this.logisticPhases.maintenance.operations) {
        return true
      }
      return false
    },
    exportDRDisabled: function() {
      if (this.logisticPhases.installation.considered === true && this.logisticPhases.installation.results === false) {
        return true
      }
      if (this.logisticPhases.maintenance.considered === true && this.logisticPhases.maintenance.results === false) {
        return true
      }
      if (this.logisticPhases.decommissioning.considered === true && this.logisticPhases.decommissioning.results === false) {
        return true
      }
      return false
    }
  },
  mounted() {
    this.activeStep = this.loadedActiveStep
    const path_phases = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/phases`
    axios
      .get(path_phases)
      .then(res => {
        if (res.status === 200) {
          for (let idx_phase = 0; idx_phase < res.data.length; idx_phase++) {
            const element = res.data[idx_phase]
            if (element.name === 'installation') {
              this.checkboxPhases.push('Installation')
              this.logisticPhases.installation.considered = true
              if (element.operations.length > 0) {
                this.logisticPhases.installation.operations = true
                if (element.computed === true) {
                  this.logisticPhases.installation.results = true
                } else {
                  if (element.calculating === true) {
                    this.logisticPhases.installation.loadingRes = true
                  }
                  this.logisticPhases.installation.results = false
                }
              }
            } else if (element.name === 'maintenance') {
              this.checkboxPhases.push('Maintenance')
              this.logisticPhases.maintenance.considered = true
              if (element.operations.length > 0) {
                this.logisticPhases.maintenance.operations = true
                if (element.computed === true) {
                  this.logisticPhases.maintenance.results = true
                } else {
                  if (element.calculating === true) {
                    this.logisticPhases.maintenance.loadingRes = true
                  }
                  this.logisticPhases.maintenance.results = false
                }
              }
            } else if (element.name === 'decommissioning') {
              this.checkboxPhases.push('Decommissioning')
              this.logisticPhases.decommissioning.considered = true
              if (element.operations.length > 0) {
                this.logisticPhases.decommissioning.operations = true
                if (element.computed === true) {
                  this.logisticPhases.decommissioning.results = true
                } else {
                  if (element.calculating === true) {
                    this.logisticPhases.decommissioning.loadingRes = true
                  }
                  this.logisticPhases.decommissioning.results = false
                }
              }
            }
          }
        }
      })
    axios
      .get(`${process.env.VUE_APP_API_URL}/api/${this.study.id}/loaded_modules`)
      .then(res => {
        if (res.status === 200) {
          for (let index = 0; index < res.data.length; index++) {
            const moduleName = res.data[index]
            this.modulesLoaded[moduleName] = true
          }
        }
      })
      .catch(err => {
        this.$message.error({
          message: err.response.data.message,
          duration: 3000
        })
      })
    if (this.study.inputs_locked === true) {
      this.lockProject = true
    }
  },
  methods: {
    handleInputsOpen(inputsPath) {
      this.$router.push({ name: inputsPath, params: { id: this.study.id }})
    },
    handleInputsDelete(inputsSet) {
      const path = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/inputs/${inputsSet}`
      axios
        .delete(path)
        .then(res => {
          if (res.status === 200) {
            const path = `${process.env.VUE_APP_API_URL}/api/study/${this.study.id}`
            axios.get(path)
              .then((response) => {
                this.study = response.data
              })
          }
        })
        .catch(error => {
          this.$message.error({
            message: error.response.data.message,
            duration: 3000
          })
        })
    },
    handleSiteOpen() {
      this.$router.push({ name: 'inputs-site', params: { id: this.study.id }})
    },
    handleSiteDelete() {
      const path = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/site`
      axios
        .delete(path)
        .then(res => {
          if (res.status === 200) {
            const path = `${process.env.VUE_APP_API_URL}/api/study/${this.study.id}`
            axios.get(path)
              .then((response) => {
                this.study = response.data
              })
          }
        })
        .catch(error => {
          this.$message.error({
            message: error.response.data.message,
            duration: 3000
          })
        })
    },
    handlePhasesChange(updatedValue, event) {
      var requestBody = {}
      if (event.srcElement.value === 'Installation') {
        requestBody = {
          'name': 'installation'
        }
      } else if (event.srcElement.value === 'Maintenance') {
        requestBody = {
          'name': 'maintenance'
        }
      } else if (event.srcElement.value === 'Decommissioning') {
        requestBody = {
          'name': 'decommissioning'
        }
      }

      if (updatedValue === true) {
        const path_post = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/phases`
        axios
          .post(path_post, requestBody)
          .then(res => {
            if (res.status === 201) {
              this.logisticPhases[requestBody.name].considered = true
            }
          })
          .catch(error => {
            this.$message.error({
              message: error.response.data.message,
              duration: 5000
            })
          })
      } else {
        const path_del = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/phases/${requestBody.name}`
        axios
          .delete(path_del)
          .then(res => {
            if (res.status === 200) {
              this.logisticPhases[requestBody.name].considered = false
              if (requestBody.name === 'installation') {
                var decoIdx = this.checkboxPhases.indexOf('Decommissioning')
                if (decoIdx > -1) {
                  this.handlePhasesChange(false, { 'srcElement': { 'value': 'Decommissioning' }})
                  this.checkboxPhases.splice(decoIdx, 1)
                }
              }
            }
          })
          .catch(error => {
            this.$message.error({
              message: error.response.data.message,
              duration: 3000
            })
          })
      }
    },
    handleSaveProject() {
      this.locking = true
      // Post components - objects and cables
      const path_objs = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/objects`
      axios
        .post(path_objs)
        .then(res => {
          if (res.status === 201) {
            const path_cbls = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/cables`
            axios
              .post(path_cbls)
              .then(res => {
                if (res.status === 201) {
                  const path_lock = `${process.env.VUE_APP_API_URL}/api/study/${this.study.id}`
                  axios
                    .put(path_lock, { 'inputs_locked': true })
                    .then(res => {
                      if (res.status === 200) {
                        this.lockProject = true
                        this.locking = false
                      }
                    })
                    .catch(error => {
                      this.$message.error({
                        message: error.response.data.message,
                        duration: 10000,
                        showClose: true
                      })
                      this.locking = false
                    })
                }
              })
              .catch(error => {
                this.$message.error({
                  message: error.response.data.message,
                  duration: 10000,
                  showClose: true
                })
                this.lockProject = false
                this.locking = false
              })
          }
        })
        .catch(error => {
          this.$message.error({
            message: error.response.data.message,
            duration: 10000,
            showClose: true
          })
          this.lockProject = false
          this.locking = false
        })
    },
    handleUnlockProject() {
      this.$alert(
        'Unlocking the Project tab will erase any data generated further downstream in the 2) Operations and 3) Calculations tabs. This action is irreversible, are you sure you want to continue?',
        'Warning: Potential loss of data.',
        {
          showCancelButton: true,
          confirmButtonText: 'Confirm',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }
      )
        .then(() => {
          const path_operations = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/operations`
          axios
            .delete(path_operations)
            .then(res_op => {
              if (res_op.status === 200) {
                const path_lock = `${process.env.VUE_APP_API_URL}/api/study/${this.study.id}`
                axios
                  .put(path_lock, { 'inputs_locked': false })
                  .then(res => {
                    if (res.status === 200) {
                      this.logisticPhases.installation.operations = false
                      this.logisticPhases.maintenance.operations = false
                      this.logisticPhases.decommissioning.operations = false
                      this.logisticPhases.installation.results = false
                      this.logisticPhases.maintenance.results = false
                      this.logisticPhases.decommissioning.results = false
                      this.logisticPhases.installation.loadingRes = false
                      this.logisticPhases.maintenance.loadingRes = false
                      this.logisticPhases.decommissioning.loadingRes = false
                      this.lockProject = false
                    }
                  })
                  .catch(error => {
                    this.$message.error({
                      message: error.response.data.message,
                      duration: 5000
                    })
                  })
              }
            })
            .catch(error_ops => {
              this.$message.error({
                message: error_ops.response.data.message,
                duration: 5000
              })
            })
        })
    },
    handleGenerateOps(phaseName) {
      this.logisticPhases[phaseName].loadingOps = true
      const path = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/phases/${phaseName}/operations`
      axios
        .post(path, { timeout: 1000 * 60 * 60 }) // 1 hour
        .then(res => {
          if (res.status === 201) {
            this.logisticPhases[phaseName].operations = true
            this.logisticPhases[phaseName].loadingOps = false
          }
        })
        .catch(error => {
          this.$message.error({
            message: error.response.data.message,
            duration: 10000,
            showClose: true
          })
          this.logisticPhases[phaseName].loadingOps = false
        })
    },
    deletePhaseOps(phaseName) {
      axios
        .delete(`${process.env.VUE_APP_API_URL}/api/${this.study.id}/phases/${phaseName}/operations`)
        .then(res => {
          if (res.status === 200) {
            this.logisticPhases[phaseName].results = false
            this.logisticPhases[phaseName].operations = false
          }
        })
        .catch(error => {
          this.$message.error({
            message: error.response.data.message,
            duration: 10000,
            showClose: true
          })
        })
    },
    handleResetOps(phaseName) {
      axios
        .delete(`${process.env.VUE_APP_API_URL}/api/${this.study.id}/phases/${phaseName}/operations`)
        .then(res => {
          if (res.status === 200) {
            this.logisticPhases[phaseName].results = false
            this.logisticPhases[phaseName].operations = false
            this.logisticPhases[phaseName].loadingRes = false
          }
        })
        .catch(error => {
          this.$message.error({
            message: error.response.data.message,
            duration: 10000,
            showClose: true
          })
        })
    },
    handlePhaseRequirements() {
      this.$router.push({
        name: 'inputs-phases-requirements',
        params: { id: this.study.id, logisticPhases: this.logisticPhases }
      })
    },
    handleOpMethodsOpen() {
      this.$router.push({ name: 'inputs-operations-methods', params: { id: this.study.id }})
    },
    warningComputation(phaseName) {
      if (this.study.complexity !== 'low') {
        this.$confirm(
          'This might take hours to produce results.',
          'Warning: Possible heavy computation time.',
          {
            showCancelButton: true,
            confirmButtonText: 'Proceed',
            cancelButtonText: 'Cancel',
            type: 'warning'
          }
        )
          .then(() => {
            this.computeResults(phaseName)
          })
      } else {
        this.computeResults(phaseName)
      }
    },
    async computeResults(phaseName) {
      const path = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/phases/${phaseName}/calculate`
      this.logisticPhases[phaseName].loadingRes = true
      await axios
        .post(path, { timeout: 10000 * 60 * 60 }) // 10 hours
        .then(res => {
          if (res.status === 201) {
            this.$alert(
              res.data.message + ' in ' + res.data.computation_time,
              'Results caulculated!',
              {
                showCancelButton: false,
                confirmButtonText: 'Confirm',
                type: 'success'
              }
            )
            this.logisticPhases[phaseName].results = true
            this.logisticPhases[phaseName].loadingRes = false
          }
        })
        .catch(error => {
          this.$alert(
            error.response.data.message,
            'Error trying to calculate results!',
            {
              showCancelButton: false,
              confirmButtonText: 'Confirm',
              type: 'warning'
            }
          )
          this.logisticPhases[phaseName].loadingRes = false
        })
    },
    deleteResults(phaseName) {
      const path = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/phases/${phaseName}/calculate`
      axios
        .delete(path)
        .then(res => {
          if (res.status === 200) {
            this.$message(res.data.message)
            this.logisticPhases[phaseName].results = false
          }
        })
        .catch(error => {
          this.$message.error({
            message: error.response.data.message,
            duration: 10000,
            showClose: true
          })
        })
    },
    handleInstallationOpen() {
      this.$router.push({
        name: 'installation-results',
        params: { id: this.study.id }
      })
    },
    handleMaintenanceOpen() {
      this.$router.push({
        name: 'maintenance-results',
        params: { id: this.study.id }
      })
    },
    handleDecommissioningOpen() {
      this.$router.push({
        name: 'decommissioning-results',
        params: { id: this.study.id }
      })
    },
    handleExportDR() {
      const path_dr = `${process.env.VUE_APP_API_URL}/api/representation/${this.study.id}`
      axios
        .get(path_dr)
        .then(res => {
          if (res.status === 200) {
            this.$message(res.data.message)
          }
        })
        .catch(error => {
          this.$message.error({
            message: error.response.data.message,
            duration: 10000,
            showClose: true
          })
        })
    },
    handleExportStudy() {
      this.$router.push({ name: 'export-study', params: { id: this.study.id }})
    },
    nextStep() {
      this.activeStep = this.activeStep + 1
    },
    prevStep() {
      this.activeStep = this.activeStep - 1
    }
  }
}
</script>

<style>
.disabled-button {
    cursor: not-allowed;
    opacity: 0.5;
}
</style>
