<!--
Logistics and Marine Operations (LMO) tool.
LMO is DTOceanPlus tool to assess marine operations withing wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>

  <div
    class="decommissioningresults"
  >
    <el-button
      class="go-back"
      type="primary"
      size="small"
      icon="el-icon-arrow-left"
      @click="handleGoBack"
    >Go back to Results
    </el-button>
    <br><br>
    <lmo-study-header :study="study" />
    <br>
    <h3>Decommissioning solution:</h3>
    <div
      v-loading="loading"
    >
      <el-table
        :data="table_data"
        style="width: 100%">
        <el-table-column
          prop="name"
          label="Name"
          width="200"
        ></el-table-column>
        <el-table-column
          prop="duration_total"
          label="Total duration (h)"
          width="150"
        ></el-table-column>
        <el-table-column
          v-if="study.complexity === 'high'"
          prop="mobilization"
          label="Mobil. (h)"
          width="100"
        ></el-table-column>
        <el-table-column
          prop="waiting"
          label="Waiting (h)"
          width="100"
        ></el-table-column>
        <el-table-column
          v-if="study.complexity === 'high'"
          prop="transit"
          label="Transit (h)"
          width="100"
        ></el-table-column>
        <el-table-column
          prop="cost_terminal"
          label="Terminal costs (€)"
          width="150"
          align="right"
        ></el-table-column>
        <el-table-column
          prop="cost_vessel"
          label="Vessel costs (€)"
          width="150"
          align="right"
        ></el-table-column>
        <el-table-column
          prop="cost_equipment"
          label="Equipment costs (€)"
          width="150"
          align="right"
        ></el-table-column>
        <el-table-column
          prop="cost"
          label="Total costs (€)"
          width="150"
          align="right"
        ></el-table-column>
        <el-table-column
          prop="terminal"
          label="Terminal"
          width="100"
        ></el-table-column>
        <el-table-column
          prop="vessels"
          label="Vessels"
          width="180"
        ></el-table-column>
        <el-table-column
          prop="equipment"
          label="Equipment"
          width="180"
        ></el-table-column>
      </el-table>
    </div>
    <br>
    <div
      v-loading="loading"
    >
      <gantt style='width:100%; height:100vh;'></gantt>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
// see https://dhtmlx.com/blog/use-dhtmlxgantt-vue-js-framework-demo/
import { gantt } from 'dhtmlx-gantt'
import Gantt from '@/components/Gantt/Gantt.vue'
import LmoStudyHeader from '../LmoStudyHeader.vue'
var numeral = require('numeral')

export default {
  name: 'DecommissioningResults',
  components: { Gantt, LmoStudyHeader },
  props: {
    study: {
      type: Object,
      default() {
        return {
        }
      }
    }
  },
  data() {
    return {
      table_data: [],
      gant_data_data: [],
      gant_data_links: [],
      loading: true
    }
  },
  mounted() {
    gantt.clearAll()
    const plan_path = `${process.env.VUE_APP_API_URL}/api/${this.study.id}/phases/decommissioning/plan`
    axios.get(plan_path)
      .then((response) => {
        if (response.status === 200) {
          var nb_operations = response.data['operation_id'].length
          for (let step = 0; step < nb_operations; step++) {
            var temp_op = {}
            // temp_op['operation_id'] = response.data['operation_id'][step]
            temp_op['name'] = response.data['name'][step]
            // temp_op['tech_group'] = response.data['tech_group'][step]
            // temp_op['operation_type'] = response.data['operation_type'][step]
            // temp_op['technologies'] = response.data['technologies'][step]
            // temp_op['date_start'] = response.data['date_start'][step]
            // temp_op['date_end'] = response.data['date_end'][step]
            temp_op['duration_total'] = response.data['duration_total'][step].toFixed(1)
            var total_waiting = 0
            if (this.study.complexity === 'high') {
              temp_op['mobilization'] = response.data['duration_mobilization'][step].toFixed(1)
              temp_op['transit'] = response.data['duration_transit'][step].toFixed(1)
              const waiting_to_start = response.data['waiting_to_start'][step]
              const waiting_port = response.data['waiting_port'][step]
              const waiting_site = response.data['waiting_site'][step]
              total_waiting = waiting_to_start + waiting_port + waiting_site
            } else {
              total_waiting = response.data['waiting_to_start'][step]
            }
            temp_op['waiting'] = total_waiting.toFixed(1)
            // temp_op['waiting_to_start'] = response.data['waiting_to_start'][step].toFixed(1)
            temp_op['cost_terminal'] = numeral(response.data['cost_terminal'][step].toFixed(0)).format('0,0.0')
            temp_op['cost_vessel'] = numeral(response.data['cost_vessel'][step].toFixed(0)).format('0,0.0')
            temp_op['cost_equipment'] = numeral(response.data['cost_equipment'][step].toFixed(0)).format('0,0.0')
            temp_op['cost'] = numeral(response.data['cost'][step].toFixed(0)).format('0,0.0')
            temp_op['terminal'] = response.data['terminal'][step]
            temp_op['vessels'] = response.data['vessels'][step]
            temp_op['equipment'] = response.data['equipment'][step]
            this.table_data.push(temp_op)

            var temp_gantt = {}
            temp_gantt['id'] = step + 1
            temp_gantt['text'] = response.data['name'][step]
            temp_gantt['start_date'] = response.data['date_may_start'][step]
            temp_gantt['start_date_actual'] = response.data['date_start'][step]
            temp_gantt['duration'] = response.data['duration_total'][step] / 24
            temp_gantt['progress'] = total_waiting / response.data['duration_total'][step] // waiting
            this.gant_data_data.push(temp_gantt)

            var temp_links = {}
            if (step < nb_operations - 1) {
              temp_links['id'] = step + 1
              temp_links['source'] = step + 1
              temp_links['target'] = step + 2
              temp_links['type'] = '0'
              this.gant_data_links.push(temp_links)
            }
          }
          var gant_data = {}
          gant_data['data'] = this.gant_data_data
          gant_data['links'] = this.gant_data_links
          gantt.parse(gant_data)

          this.loading = false
        }
      })
      .catch(error => {
        this.$message.error({
          message: error.response.data.message,
          duration: 10000,
          showClose: true
        })
        this.loading = false
      })
  },
  methods: {
    handleGoBack() {
      this.$router.push({
        name: 'lmostudy-open',
        params: { id: this.study.id, loadedActiveStep: 3 }
      })
    }
  }
}
</script>

<style scoped>
.go-back {
  background-color: navy;
}
</style>
