<!--
Logistics and Marine Operations (LMO) tool.
LMO is DTOceanPlus tool to assess marine operations withing wave and tidal
energy projects.
Copyright (C) 2020 Luis Amaral and Francisco Correira da Fonseca

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div id="export-study">
    <el-button
      class="go-back"
      type="primary"
      size="small"
      icon="el-icon-arrow-left"
      @click="handleGoBack"
    >Go back to Study
    </el-button>
    <br><br>
    <lmo-study-header :study="study" />
    <pre>{{ exported }}</pre>
  </div>
</template>

<script>
import axios from 'axios'
import LmoStudyHeader from '../LmoStudyHeader.vue'
export default {
  name: 'ExportStudy',
  components: { LmoStudyHeader },
  props: {
    study: {
      type: Object,
      default() {
        return {
        }
      }
    }
  },
  data() {
    return {
      exported: {}
    }
  },
  methods: {
    handleGoBack() {
      this.$router.push({
        name: 'lmostudy-open',
        params: { id: this.study.id, loadedActiveStep: 3 }
      })
    }
  },
  mounted() {
    const path_export = `${process.env.VUE_APP_API_URL}/api/study/${this.study.id}/export`
    axios
      .get(path_export)
      .then(res => {
        if (res.status === 200) {
          this.exported = res.data
        }
      })
      .catch(err => {
        this.$message.error({
          message: err.response.data.message,
          duration: 10000,
          showClose: true
        })
      })
  }
}
</script>

<style scoped>
.go-back {
  background-color: navy;
}
</style>
